[2015-05-25 14:59] sdispater opened #1 "Add support for pagination"
Models should support pagination.

[code]

[2015-05-25 15:00] sdispater opened #2 "Add to_json() method to Collection class"

[2015-05-27 04:26] sdispater opened #3 "Add models events"

[2015-06-01 01:21] #1 closed

[2015-06-01 01:21] #2 closed

[2015-06-01 01:21] #3 closed

[2015-06-01 02:29] sdispater opened #4 "Pivot on BelongsToMany relationship are not properly set when eager loading"

[2015-06-02 17:49] #4 closed

[2015-06-02 21:05] sdispater opened #5 "Model.fresh() method raises an error for models retrieved from relations"

[2015-06-02 21:30] sdispater opened #6 "Model.set_table() method does not properly handle pivot classes."

[2015-06-03 15:04] sdispater opened #7 "Starting a new query from a BelongsToMany relation does not maintain pivot columns"

[2015-06-09 22:17] #5 closed

[2015-06-09 22:17] #7 closed

[2015-06-10 14:20] #6 closed

[2015-06-24 13:35] sdispater opened #8 "Reconnection on lost connection does not properly work"
When the connection to database is lost, the reconnection process does not work properly.

[2015-06-24 13:36] sdispater opened #9 "Support for SQLite foreign keys"
SQLite connections should support foreign keys (with the ability to deactivate it if necessary).

[2015-06-30 20:03] sdispater opened #10 "Remove hard dependencies in commands"

[2015-06-30 22:54] #8 closed

[2015-06-30 22:54] #10 closed

[2015-07-07 19:58] sdispater opened #11 "Paginator.resolve_current_page() raises and error on Python 2.7"

[2015-07-07 20:54] #11 closed

[2015-07-13 21:51] sdispater opened #12 "Support for caching query results"
Orator should have a decoupled cache module to do things like:

[code]

[2015-07-14 22:19] sdispater opened #13 "Support database seeding and model factories"

[2015-07-15 22:29] sdispater opened #14 "Changing columns with SchemaBuilder does not work with some types"
Those types are `big_integer`, `small_integer`, `long_text` and `medium_text`

[2015-07-26 17:02] sdispater opened #15 "Execute migrations inside a transaction"
Migrations should be executed inside a transaction by default to avoid the hassle of declaring it explicitely.

[2015-10-01 21:29] sdispater opened #16 "The last page of LengthAwarePaginator is not calculated properly in Python 2.7"
This is due to an integer division when calculating it

[2015-10-05 22:06] sdispater commented on #12
This will be handled by an extension module rather than in the core module

[2015-10-05 22:06] #12 closed

[2015-11-10 20:43] #9 closed

[2015-11-10 20:43] #14 closed

[2015-11-10 20:43] #15 closed

[2015-11-10 20:43] #16 closed

[2015-11-10 20:49] #13 closed

[2015-11-13 20:06] sdispater opened #20 "Improve Collections"
For now, Collections are pretty basic and lack some useful methods.

[2015-11-16 21:42] sdispater opened #22 "Model.fill() should accept a dict"
Currently, the fill() method only accept keyword arguments. It should accept dictionaries too.

It also causes a bug for some relations

[2015-11-20 17:37] #20 closed

[2015-11-20 20:19] #22 closed

[2015-11-21 16:35] sdispater opened #24 "Dynamic properties call relation method instead of result method"
Dynamic properties don't behave properly. For example:

[code]
The update method that is called is the `BelongsTo.update()` instead of `Post.update()` which is the expected behavior.

[2015-11-22 20:42] #24 closed

[2015-12-12 16:45] sdispater opened #26 "Add a way to set conditions on relationships"
When defining a relation it should be possible to set conditions when related elements are retrieved. For example, when a user' posts are retrieved it should always be ordered by title.

[2015-12-13 18:28] #26 closed

[2015-12-15 23:12] sdispater opened #27 "Exists methods don't accept an ORM Builder instance"

[2015-12-16 20:50] sdispater opened #28 "where_in method should accept Collection instances"

[2015-12-17 04:30] #27 closed

[2015-12-17 04:35] #28 closed

[2015-12-17 23:35] tcwalther opened #29 "support created_at without updated_at"
I have a use case where I only insert into a table, and thus would like to omit the `updated_at` column. Rails' ActiveRecord supports that, for example. It would be amazing if Orator could do that, too.

[2015-12-18 22:07] sdispater commented on #29
It would be a nice addition, indeed. I will see if I can integrate this in the next version of Orator.

For the time being, as a workaround, you can make a subclass of `Model` which overrides two methods: `set_updated_at` and `uses_timestamps` like so:

[code]

[2015-12-21 20:01] sdispater opened #30 "Support for default values"
Orator should support default values for models

[2015-12-21 20:39] sdispater opened #31 "[SQLite] Changing columns loses default column values"

[2015-12-21 20:40] sdispater opened #32 "[SQLite] Renaming or dropping columns fails when columns' name is a keyword"

[2015-12-21 20:41] sdispater opened #33 "[SQLite] Renaming or dropping columns loses NULL constraint"

[2015-12-21 21:17] #29 closed

[2015-12-21 21:21] sdispater commented on #29
It is now supported.

Check the [updated documentation](https://orator-orm.com/docs/master/orm.html#timestamps)

[2015-12-22 00:18] tcwalther commented on #29
Wow, that was fast. Very impressive. Thanks a lot!

[2015-12-22 01:23] sdispater commented on #29
:-) Be aware however, that it's only the develop branch for now.

It will be officially integrated in the future 0.8 version.

[2015-12-22 01:40] #31 closed

[2015-12-22 01:45] #32 closed

[2015-12-22 16:20] #33 closed

[2015-12-22 21:23] #30 closed

[2016-01-19 09:41] camilstaps opened #34 "Eager loading has_many"
Is there a way to do eager loading on a has_many relationship?

When I define a relationship, say in class User

    @has_many
    def articles(self):
        return Article

And query `User.with_('articles')`, N+1 queries are executed. What I would expect is a query like the following:

    SELECT * FROM user INNER JOIN article ON article.user_id = user.id

And Orator grouping the articles by use

[2016-01-19 14:24] sdispater commented on #34
Eager loading is already possible for has_many relationships, but Orator uses 2 queries instead of using a join query:

[code]

Therefore, you should not see N+1 queries being executed.
Can you tell me exactly the queries you see when you do `User.with_('articles').get()`?

[2016-01-19 18:08] camilstaps commented on #34
Apologies, I was at fault. The model and all was fine, but then I used the relationship as a function instead of a property, i.e.:

    for user in User.with_('articles').get().all():
        user.articles().get()

instead of

    for user in User.with_('articles').get().all():
        user.articles

Thanks though, and apologies.

[2016-01-19 18:08] #34 closed

[2016-01-27 13:48] sebastialonso opened #35 "Exception: The helper "dialog" is not defined"
I'm trying flask-orator and performing the examples in their documentation.
I'm following **exactly** the same instructions of the official tutorial.

When I run the migrations, this happens

![screenshot from 2016-01-27 10 46 22](https://cloud.githubusercontent.com/assets/3493453/12615245/470538be-c4e3-11e5-9e45-6cbd0c926cc9.png)

How did I screw it up? I haven't even defined "dialog" :/

[2016-01-27 14:37] sdispater commented on #35
This is partly my fault.

The latest stable version of flask-orator has not been updated to be compatible with the latest version of [cleo](https://github.com/sdispater/cleo).

To fix this, you have two options: replace the 0.4.0 version of cleo by the 0.3.0 for the time being or install flask-orator from the develop branch.

[2016-01-27 15:10] sebastialonso commented on #35
Thank you very much for the quick answer. I downgraded cleo for the moment, and I was permitted to continue.

However new undocumented issues appeared

![screenshot from 2016-01-27 12 07 20](https://cloud.githubusercontent.com/assets/3493453/12617470/9c8e6822-c4ee-11e5-8d10-fcdf499c81c2.png)
 and then after I manually wrote a route

![screenshot from 2016-01-27 12 08 21](https://cloud.githubuserco

[2016-01-27 15:14] sdispater commented on #35
The `--database` options must reference the name of the database you want to use. So here it should be `development` since it's the name you gave to your sqlite database configuration. 

[2016-01-27 16:31] sebastialonso commented on #35
Thanks! That worked great. I'll write a snippet later for anyone in the same situation.

[2016-01-29 02:24] istommao opened #36 "A little issue about docs"
![07402755-f652-4d65-920e-4d943fa37596](https://cloud.githubusercontent.com/assets/5070879/12665426/a06b2d42-c672-11e5-9e34-6a49d1049363.jpg)

[2016-01-29 03:29] sdispater commented on #36
Thanks for reporting this.

It's correct in the documentation on the official site but I forgot to fix it in the README somehow.

It's now fixed.

[2016-01-29 03:29] #36 closed

[2016-02-07 16:35] #35 closed

[2016-02-08 18:53] yos-virtus opened #37 "orator cli doesn't work on windows"
I tryed to execute `orator make:migration create_example_table` on my freshly created virtualenv, but it says that this command can't be executed. I also tryed .\Scripts\orator. The same thing.
Steps that I followed:

1. Created vitual enviroment

2. Installed orator

3. Activated my virtual env

4. Created orator.xml

5. Run orator make:migration create_example_table

[2016-02-08 20:33] sdispater commented on #37
What's the actual error message?

[2016-02-09 07:32] yos-virtus commented on #37
"orator" not recognized as an internal or external command, operable program or batch file.

[2016-02-09 07:38] yos-virtus commented on #37
Here is what in my orator.yml
![orator](https://cloud.githubusercontent.com/assets/7825897/12910183/3b6c1244-cf19-11e5-9ded-fd15e8848dbf.png)

[2016-02-09 15:07] sdispater commented on #37
OK. That's what I thought.

Orator is using [Cleo](https://github.com/sdispater/cleo) for all commands, but Cleo has not been properly tested on Windows yet.

I will see if I can find out where the problem is.

[2016-02-09 17:22] yos-virtus commented on #37
Ok. That would be nice.
Great ORM/AR by the way. Eloquent is great but eloquent(i mean orator) for python mmmmm.

[2016-02-09 22:53] sdispater commented on #37
Thanks for the kind words :smiley:

So, it appears that there were two issues actually:

* Cleo was not working well on Windows. I just released a new version compatible with Windows.
* The way the `orator` script was installed did not work on Windows. It has been fixed on the `develop` branch.

So can you test the `develop` branch (`pip install "git+https://github.com/sdispater/orator.git@develop

[2016-02-10 07:30] yos-virtus commented on #37
I'll try it.

[2016-02-10 08:07] yos-virtus commented on #37
Ok. orator command is responding now but when i tryed this `orator make:migration create_users_table --table=users --create` it gave me following error:
![image](https://cloud.githubusercontent.com/assets/7825897/12941744/4d176048-cfe6-11e5-8151-6871c318f4aa.png)

[2016-02-10 15:52] sdispater commented on #37
The `Invalid format string` was caused by a typo in the code but only on Windows. I just pushed a fix on the `develop` branch.

For your second error, I can't reproduce it. What's the content of your `orator.py` file? 

[2016-02-10 16:09] yos-virtus commented on #37
Here is what in my ** orator.py**
![orator_testing_2](https://cloud.githubusercontent.com/assets/7825897/12953000/b5e7a1c6-d029-11e5-8309-40bac8f0c101.jpg)

[2016-02-10 17:22] sdispater commented on #37
I still can't reproduce the error when using an `orator.py` configuration file.

For the time being, I advise you to keep using the `orator.yml` file. 

[2016-02-10 17:47] yos-virtus commented on #37
Thanks. It works now. As of the orator.py I will try on a different machine maybe it related to some settings on my current PC. I installed python 2.7 not so long ago for it's necessary when you pull/install Laravel-Elixir and it's dependencies.

[2016-02-10 19:51] jwdeitch opened #38 "Donation Link?"
Have you considered adding one?

[2016-02-12 03:19] #38 closed

[2016-02-12 23:29] 12789 opened #40 "It's not work when datatype is enum"
![image](https://cloud.githubusercontent.com/assets/244297/13023366/1aa395e2-d19d-11e5-90a0-a20a02f602eb.png)

[2016-02-14 15:59] sdispater commented on #40
When does this happen?

[2016-02-15 18:34] joaobarbosa opened #41 "Can't import model inside seeder"
Hello,

I'm trying to seed a database using the command:
```orator db:seed --seeder=animal_seeder --config=conf.py```

But it can't import model inside the seeder. I was trying to use model factories without any luck. I'm always getting **[ImportError]  No module named xxx** when I try to import the model inside the seeder.

Here is my model:

[code]

... and my seeder:

[code]

Am I doing somethi

[2016-02-15 19:09] joaobarbosa commented on #41
I've solved the **ImportError** adding my project path to the $PYTHONPATH (export PYTHONPATH=...) and now, the seeder can import the model using ```from models.animal import Animal```.

But now, I'm getting this error: **[AttributeError] 'NoneType' object has no attribute 'connection'**, with the traceback below.

It seems that the *__connection__* property in the Model is None. I've already check

[2016-02-15 21:52] sdispater commented on #41
I will look into it.

Thanks for the complete feedback :smiley:

[2016-02-15 22:18] joaobarbosa commented on #41
@sdispater I've solved it adding my project's root folder to the PYTHONPATH enviroment variable and adding a instance of DatabaseManager to the model (as you say in the docs). I guess this issue is closed.

The main point, I think, is that the docs should mention about adding the project's directories (or at least the models' folder) to the path before trying to use the cli. Maybe it's just lack o

[2016-02-17 00:22] sdispater commented on #41
I will probably update the docs to make it more straightforward.

Thanks for bringing this up :-)

[2016-02-17 09:46] #41 closed

[2016-02-20 16:15] erikstorm opened #42 "About the documentation"
Hey, thanks for great ORM!

I'm currently involved in making a medium size app, and we would be glad to help with the documentation and try to improve and report inconsistencies if we find any.

I noticed the docs folder is gitignored, are you currently improving them or is there another reason they are ignored?

The docs are also hosted on both readthedocs and on the orator-orm.com, which one are

[2016-02-20 18:09] stormpat opened #43 "Having some issues with seeding"
After having successfully made some migrations, im now trying to seed the database with some fake data, i have run into a problem with the ```db:seed``` command.

Having this seed file ```user_table_seeder.py```  created with the ```orator make:seed``` command:

[code]

And then calling the seed inside ```DatabaseSeeder```

[code]

When running the command ```db:seed -c config.py``` i get the erro

[2016-02-20 18:45] sdispater commented on #42
The documentation is in its own repository here : https://github.com/orator-orm/docs

[2016-02-20 18:47] sdispater commented on #43
Can you run the command in verbose mode (`-v` option) to see the complete stack trace?

[2016-02-20 21:25] stormpat commented on #43
Hi and thanks for a fast reply.

Heres the stack-trace. Maybe the issue has something to do with the db connection?

[code]

[2016-02-20 21:36] sdispater commented on #43
Thanks.

How many databases do you have? Because this error should only occur when you have more than one database configured and no default database specified.

[2016-02-20 22:17] stormpat commented on #43
I have just one database, im using Postgres. I think i have narrowed it down, im using flask-orator, and have setup the project as in the example, using a ```db.py``` file. But the seeds are not possible to run from there. When i check for the possible options the cli tool ```orator list``` it gives me the following options:

[code]
But when doing the same thru the ```python db.py list```  file i

[2016-02-20 22:27] stormpat commented on #43
Ok, so i needed to set the connection in the seeder separately, so this can be closed as its solved.

[2016-02-20 22:27] #43 closed

[2016-02-20 23:37] erikstorm commented on #42
Thanks for the quick reply, closing the issue.

[2016-02-20 23:37] #42 closed

[2016-02-28 15:11] JunyuMu opened #45 "How can i define field in Model"
[code]

Like
[code]

Please Help me . thinks!

[2016-02-29 16:34] sdispater commented on #45
This is not possible. Orator does not support explicit field declaration.

[2016-03-01 03:04] JunyuMu commented on #45
yeah. I know..

[2016-03-01 03:04] #45 closed

[2016-03-01 21:22] joaobarbosa opened #46 ".unsigned() raises TypeError when running migrations"
I was trying to create a foreing key, following the example written in the docs ([https://orator-orm.com/docs/0.8/schema_builder.html#foreign-keys](https://orator-orm.com/docs/0.8/schema_builder.html#foreign-keys)), but when running the migration itself, it's raising a

[2016-03-01 21:39] joaobarbosa opened #47 ".unsigned() raises TypeError when running migrations"
I was trying to create a foreing key, following the example written in the docs ([https://orator-orm.com/docs/0.8/schema_builder.html#foreign-keys](https://orator-orm.com/docs/0.8/schema_builder.html#foreign-keys)), but when running the migration itself, it's raising a ```TypeError``` exception, with the following message: ```'bool' object is not callable```.

As far as I could investigate, trying

[2016-03-03 01:55] sdispater commented on #47
I can reproduce the problem. I will look into it.

[2016-03-04 08:45] tantita opened #48 "MemoryError: stack overflow when I try to query a relation"
I am running orator on windows/ python 2.7, and my model looks like:
[code]

when i try to run
r = Restaurant.find(1)
r.id   # works as normal
r.area  # throws "MemoryError: stack overflow" error

[2016-03-04 08:56] tantita commented on #48
I tried to replay this error on Ubuntu Linux and got this error instead:
Segmentation fault (core dumped)
Note that I was running it from the python console both for windows and linux

[2016-03-04 21:03] sdispater commented on #48
Does this happen only with the `has_one` relationship?

[2016-03-06 05:44] tantita commented on #48
I didn't tested it for others

[2016-03-07 14:32] joaobarbosa commented on #46
Accidentally created. Refer to #47

[2016-03-07 14:32] #46 closed

[2016-03-07 16:45] sdispater commented on #48
What does your migration file look like ?

[2016-03-10 09:39] tantita commented on #48
I am not using any migration file.
I even replayed this scenario with python 3 on Ubuntu 14.04 and got the same error

[code]

[2016-03-10 13:31] tantita commented on #48
Area.find(1).restaurants**()** works, (i.e calling it as a method instead of as an attribute)
I think I'd just use that for now instead of Area.find(1).restaurants

and then other stuffs like d below also work:
Area.find(1).restaurants().get().to_dict()
Restaurant.with_('area').get().to_dict()

[2016-03-10 14:30] sdispater commented on #48
If possible, can you give me the structure of the two tables ?

[2016-03-10 16:24] tantita commented on #48
[code]

[2016-03-10 23:59] joelbarker2011 commented on #40
This occurs when trying to create a record with an enum attribute. Test case:

[code]

I can work around it by monkey-patching orator:
[code]

The proper solution would be adding a line to _orator/dbal/platforms/mysql_platform.py_:
[code]
The same line probably should be added to _postgres_platform.py_ and/or _sqlite_platform.py_ (I haven't tested with Postgres or Sqlite).

[2016-03-11 01:12] joelbarker2011 opened #52 "Auto-generated index names are sometimes too long"
[MySQL identifiers have a maximum length of 64 characters.](https://dev.mysql.com/doc/refman/5.7/en/identifiers.html) [Postgres identifiers appear to have a max length of 63 characters.](http://www.postgresql.org/docs/9.5/static/sql-syntax-lexical.html#SQL-SYNTAX-IDENTIFIERS) However, `orator` auto-generates index names (primary key, unique, and index) without ensuring that they are <= 63/64 chara

[2016-03-11 01:32] joelbarker2011 commented on #52
Although this is nowhere mentioned in the docs, the `primary()`, `unique()`, and `index()` methods (which create indexes) all accept an additional parameter, `name`:

[code]

[2016-03-12 16:42] tantita opened #53 "Migration ValuError exception"
[code]
  [ValueError]
  Invalid format string

That is the error I get when I try to create a new migration (on windows and python3.5)

[2016-03-13 02:37] joelbarker2011 opened #54 "Composite primary keys do not work"
It is possible to create a new model (with `schema.create`) that uses a composite primary key (with `table.primary(['column1', 'column2'])`). Unfortunately, it does not appear that it is possible to create a `Model` subclass that uses this composite key.

Specifying the composite key in the `Model` subclass with `__primary_key__ = ('column1', 'column2')` (using a **tuple**) results in this error:

[2016-03-13 02:39] joelbarker2011 commented on #54
Test script:
[code]

[2016-03-13 16:38] sdispater commented on #53
Yes. It's a problem that has been fixed in the `develop` branch, so you can try using this branch for the time being. Otherwise, I will release the `0.8.1` version in the coming week with several fixes, including this one.

[2016-03-15 13:38] james-hoegerl opened #55 "Keys_fix not defined"
When I run your start up tutorial I get.

`Traceback (most recent call last):
  File "test.py", line 19, in <module> print(User.all())
  File "/Library/Python/2.7/site-packages/orator/orm/model.py", line 544, in all
    instance = cls()
  File "/Library/Python/2.7/site-packages/orator/orm/model.py", line 121, in __init__
    self._boot_if_not_booted()
  File "/Library/Python/2.7/site-packages/orat

[2016-03-15 16:08] sdispater commented on #55
This error shoud only occur when you do not have a package for MySQL installed (either `mysqlclient` or `pymysql`). Try installing one one them.

[2016-03-15 16:38] james-hoegerl commented on #55
My apologies it said so right in the getting started docs.

I'm getting this now.

`
Traceback (most recent call last):
  File "test.py", line 21, in <module>
    users = Pitchlist.all()
  File "/usr/local/lib/python2.7/dist-packages/orator/orm/model.py", line 544, in all
    instance = cls()
  File "/usr/local/lib/python2.7/dist-packages/orator/orm/model.py", line 121, in __init__
    self._boot_

[2016-03-15 17:22] sdispater commented on #55
Yes, it's a known problem fixed in #39 .

The fix will be included in the 0.8.1 version planned for this week.

For the time being you can use the develop branch.

[2016-03-15 18:18] james-hoegerl commented on #55
Thanks so much for the help.

[2016-03-15 18:48] james-hoegerl commented on #55
Getting this error on dev branch

`Traceback (most recent call last):
  File "lambda.py", line 21, in <module>
    users = Pitchlist.all()
  File "/home/vagrant/Code/Lamdba/deployment/orator/orm/model.py", line 544, in all
    instance = cls()
  File "/home/vagrant/Code/Lamdba/deployment/orator/orm/model.py", line 121, in __init__
    self._boot_if_not_booted()
  File "/home/vagrant/Code/Lamdba/de

[2016-03-15 21:09] sdispater commented on #55
Which mysql package are you using because I can't seem to be able to reproduce the problem?

[2016-03-16 15:21] james-hoegerl commented on #55
Using pymysql. Seems to be a problem on my local machine. Working in a deployment package for aws lambda. Thanks for all your help I'll keep tinkering.

[2016-03-16 16:03] james-hoegerl commented on #55
Connecting and querying one table just fine. Went to query another and got this. Any idea @sdispater ?

Traceback (most recent call last):
  File "/var/task/lambda.py", line 32, in createPitchZip
    song = Song.first()
  File "/var/task/orator/orm/model.py", line 58, in __getattr__
    query = cls.query()
  File "/var/task/orator/orm/model.py", line 1793, in query
    return cls().new_query()
  F

[2016-03-17 14:45] sdispater commented on #55
It's a known issue (see #40).

It will be fixed in the next release.

[2016-03-17 15:59] #47 closed

[2016-03-17 19:55] sdispater commented on #54
As of right now, it is not supported in Orator models and I don't plan to add it in a near future.

If this is critical for you you can use the query builder directly.

[2016-03-17 20:12] sdispater commented on #48
I can't reproduce the problem. Are you using the latest version (0.8)?

[2016-03-17 22:44] james-hoegerl commented on #55
Great. Thanks for the help @sdispater !

[2016-03-17 22:44] #55 closed

[2016-03-20 10:22] cruzcranford opened #56 "incorrect documentation"
On the documentation for creating a table:

https://orator-orm.com/docs/0.8/orm.html#introduction

You have the mysql connection using 'username' instead of 'user'.  This causes a type error since it is expecting 'user' and not 'username'.

[2016-03-21 18:24] tantita opened #57 "I keep getting orator.exceptions.query.QueryException"
I have started using your awesome ORM on production and I get this error like once everyday which causes that endpoint to return a 502 until I refresh it like several times. Here is the stack-trace:

[code]

Here is what my query looks like:
[code]

[2016-03-21 18:32] tantita commented on #57
Pls note that I use orator with flask and I don't use the flask-orator package, rather I connect to it directly from my model file

[2016-03-21 22:32] sdispater commented on #57
I will look into it

[2016-03-23 10:36] tantita commented on #57
Please I need a fast solution to this.
I have to always restart the flask application process whenever I encounter this.

[2016-03-24 15:29] sdispater commented on #57
I am unable to reproduce the error.

Which database package are you using (`PyMysql`, `mysqclient`, `psycopg2`)?
Also, are you using the `0.8` version of orator or the `develop` branch?
Finally, which `Flask` version are you using?

[2016-03-24 20:53] #54 closed

[2016-03-25 15:42] sdispater commented on #52
This is the best solution for now.

I will add a note in the documentation.

[2016-03-26 10:00] tantita commented on #57
Flask (0.10.1)
Orator - develop branch
I tested with both MySQLdb and pymsql (wc are d 2 supported drivers as seen in the code -- orator/connectors/mysql_connector:3) and got the same errors

[2016-03-27 07:32] tantita commented on #57
please i really need your help on this issue as I've already gone far with this application n would be difficult switching my stack at this time.

[2016-03-27 11:12] tantita commented on #57
I think I have found a temporary fix,
I had to comment out  the self._db.disconnect() in the flask_orator/__init__.py file

[2016-03-27 21:54] sdispater commented on #57
Thanks for narrowing down the issue :clap:

I just pushed a fix on the `develop` branch so you should be able to uncomment the line in `flask-orator`.

[2016-03-28 13:52] nicholastulach opened #58 "AttributeError when trying to use ORM"
I receive the following error when trying to run the ORM documentation samples

`AttributeError: 'Connection' object has no attribute '_server_version'`

Below is the code i am using with a database `testdb` which has a table `users` with columns for `id` and `name`.

[code]

[2016-03-28 15:42] sdispater commented on #58
I has been fixed on the `develop` branch.

See #39

I will release a new version or Orator this week with this fix included.

[2016-03-28 15:56] nicholastulach commented on #58
so current work-around for mysql users is to use mysqlclient instead of pymysql?

[2016-03-28 16:50] sdispater commented on #58
You can also install orator from the `develop` branch.

[2016-03-28 17:20] #58 closed

[2016-03-30 07:30] tantita commented on #57
Thanks alot, will update n feed u back

[2016-03-30 12:41] alexesDev opened #59 "Lib didn't work with tables with ltree column (postgresql)"
I use ltree extension and catch error...
http://www.postgresql.org/docs/9.4/static/ltree.html

[code]

[2016-03-30 12:46] alexesDev commented on #59
Quick fix:
[code]

[2016-03-30 14:23] sdispater commented on #59
Thanks for reporting this.

It is a known issue in models that has been fixed in the `develop` branch (see 6c3d4a17189686f7bfc86f27904800fb84647ce2).

So, you can either use this branch or wait for the `0.8.1` version that should be released this week. 

[2016-03-30 14:24] #59 closed

[2016-03-30 16:19] sdispater commented on #48
@tantita Does this still happen?

[2016-03-30 16:33] tantita commented on #48
yes I still get the error when I try to access the relationship via an attribute, e.g:
[code]
But if I access the relationship via a method, it works fine:
[code]

[2016-03-30 17:19] alexesDev commented on #59
Same problem for column with int[] type.

[2016-03-30 19:42] #56 closed

[2016-03-30 20:25] #37 closed

[2016-03-30 20:26] sdispater commented on #40
Fixed in the latest 0.8.1 version

[2016-03-30 20:26] #40 closed

[2016-03-30 20:27] sdispater commented on #52
The documentation has been updated: https://orator-orm.com/docs/0.8/schema_builder.html#adding-indexes

[2016-03-30 20:27] #52 closed

[2016-03-30 20:27] sdispater commented on #53
Fixed in the latest 0.8.1 version.

[2016-03-30 20:27] #53 closed

[2016-03-30 21:20] joelbarker2011 commented on #40
Confirmed that this has been fixed (commit 6c3d4a17189686f7bfc86f27904800fb84647ce2). Thanks!

[2016-03-31 06:06] tantita commented on #57
The connection is stable now. I think this issue can be closed now. Thanks alot

[2016-03-31 14:22] #57 closed

[2016-03-31 16:32] tcwalther commented on #55
I just ran into the same issue. Seems like it only picks up `pymysql` - not `mysqlclient`, `MySQL-Python`, or `mysql-client-python`. Using Anaconda on Python 2.7, Orator 0.8.1

[2016-03-31 19:20] sdispater commented on #55
I will add a check to the `Connector` class to raise an exception if mandatory packages are missing.

[2016-04-01 17:00] sdispater opened #60 "Allow usage of qmark syntax for all backends"
To make Orator trully database agnostic, it should allow the usage of a unified parameter binding syntax (qmark) and not depend on each db-api package `paramstyle`. 

[2016-04-05 14:43] jefurry opened #61 "QueryException: not all arguments converted during string formatting"
from orator import DatabaseManager
config = {'mysql': {'driver': 'mysql', 'host': 'localhost', 'database': 'jumu', 'user': 'root', 'password': '123456', 'prefix': '', 'port': 3306}}
db = DatabaseManager(config)
results = db.select('select * from admin_user where id = ?', [1])

**QueryException: not all arguments converted during string formatting (SQL: select * from admin_user where id = ? ([1]))*

[2016-04-05 14:50] sdispater commented on #61
Yes. It is a known issue with how dbapi packages work in Python.

Each package can use one of many ways to represent parameter binding (sqlite uses the `qmark` (`?`) syntax but mysql and postgres packages uses the `%s` syntax). That's the reason why you encounter this error.

I will make a change this week on the `develop` branch to allow the qmark syntax for every package. This change will be int

[2016-04-05 14:57] jefurry commented on #61
thanks, this is a great job.

[2016-04-05 15:07] #61 closed

[2016-04-05 21:20] joaobarbosa commented on #48
It's happening to me, also. Same thing. But i couldn't find out which error it returs yet because my computer freezes forever when I try to run it.

Accessing like this...

`Restaurant.area`

... freezes my pc. But doing like this...

`Restaurant.area()` or `Restaurant.area.something_from_area`

... works fine.

[2016-04-05 21:23] sdispater commented on #48
Which Python version are you using?

[2016-04-05 21:29] joaobarbosa commented on #48
Python 2.7.6

[2016-04-05 21:39] sdispater commented on #48
Which operating system are you on?

[2016-04-06 12:00] joaobarbosa commented on #48
Lubuntu 14.04

[2016-04-06 19:55] sdispater commented on #48
I'm still unable to reproduce the problem.

Can you give me a  complete code snippet that triggers the error?

[2016-04-07 22:19] joaobarbosa commented on #48
I will get it tomorrow at work :+1:

[2016-04-10 18:01] tcwalther commented on #48
I get a similar error inside one of my tests, but I cannot isolate it and reproduce it outside the test. The same code in ipython works just fine. Here's what crashes:

[code]

It also crashes if you omit the `user = user.fresh()` line. The following works, however:

[code]

Again, this only happens within my pytest, and I cannot reproduce it outside of it. The program crashes with a segfault. I u

[2016-04-10 19:01] sdispater commented on #48
ok. I suspected the problem was in the `lazy-object-proxy`.

Which version of the package do you have? The latest should be `1.2.1`.

Also, if you have the latest version, can you try installing the package from the `master` branch of the repo (https://github.com/ionelmc/python-lazy-object-proxy) just to see if the problem still occurs? 

[2016-04-10 21:11] tcwalther commented on #48
I have `1.2.1`. The problem still occurs when installing the latest version of the `master` branch. I also tried both homebrew python and Anaconda python, just to be safe.

[2016-04-11 05:27] sdispater commented on #48
It seems the error comes from the `__repr__` method of proxy objects.

I made an attempt at fixing it. Can you install `orator` from the `fix-memory-error` branch and check if this fixes the issue?

Thanks

[2016-04-11 07:46] tcwalther commented on #48
Yes, that fixes the issue. Great job. By the way, since you mentioned the `__repr__` method: my models all inherit from this class, which provides nicer output in ipython:

[code]

Not sure if that makes any difference.

[2016-04-11 14:45] joaobarbosa opened #62 "Fix "Renaming Columns" section in docs"
Hi @sdispater,

In the example of how to [rename columns](https://orator-orm.com/docs/0.8/schema_builder.html#renaming-columns), you pointed out the wrong method. Instead of

[code]

It should be:

[code]

Thanks.

[2016-04-12 22:12] sdispater commented on #48
@joaobarbosa @tantita Does the branch `fix-memory-error` fix the problem for you too?

[2016-04-12 22:25] tantita commented on #48
yer, it fixes the problem. tnx alot

[2016-04-14 15:44] giovanni-liboni opened #65 "Not parsing -n or --no-interaction"
Hi, @sdispater
i'm running orator (version 0.8.1/OSX) and my migration file is:
[code]
When i launch
``orator migrate -c databases.py ``
works but when i reset database and launch it again with ``-n`` flag, orator doesn't execute any migration and the database is empty.
It's the correct way to specify no-interaction?

Thanks.

[2016-04-14 16:15] sdispater commented on #65
The `-n` flag will use the default value for confirmation. So, since currently it is (wrongfully) set at false by default, it will not run the migrations.

I will fix it.

[2016-04-15 12:40] nicholastulach opened #66 "Pluralization of table titles inconsistent for multiple word titles"
Expected: The examples in the documentation suggest that a table such as "RoleUser" should have the default database name of "roles_users".

Current: Calls to methods marked with `@has_many` result in an expected query for the table `role_users` instead of `roles_users`. See attached files.

[sample_project.zip](https://github.com/sdispater/orator/files/220972/sample_project.zip)

Try running `mai

[2016-04-15 13:43] nicholastulach commented on #66
If i specifically set the `__table__` in the `role_user` table to `roles_users`, then i get the following exception:

`orator.exceptions.query.QueryException: (1054, "Unknown column 'addresses.roles_user_id' in 'on clause'") (SQL: SELECT `addresses`.*, `roles_users`.`user_id` FROM `addresses` INNER JOIN `roles_users` ON `roles_users`.`id` = `addresses`.`roles_user_id` WHERE `roles_users`.`user_id`

[2016-04-15 20:10] sdispater commented on #66
This is the expected behavior : the `@has_many` or `@has_many_through` are not meant to be used with many to many relationships. They look for the pluralized name of the underscored name of the model (`role_users`), and only `@belongs_to_many` will look for `roles_users`.

However, if you look at the documentation (https://orator-orm.com/docs/0.8/orm.html#hasmanythrough), you can notice that `@has

[2016-04-17 15:30] darvid opened #67 "Running migrate with --no-interaction does nothing"
I'm trying to add migrate commands to a Makefile but unfortunately it looks like no-interactive doesn't work with any of the migrate commands.

[2016-04-18 15:40] #66 closed

[2016-04-19 18:24] joaobarbosa commented on #48
@sdispater yes, it works! thanks!

[2016-04-20 10:40] tantita opened #68 "Method typo error: ._new_picot_statement_for_id"
In https://github.com/sdispater/orator/blob/0.8/orator/orm/relations/belongs_to_many.py#L634
change
[code]
to
[code]

[2016-04-26 16:13] sdispater commented on #67
Yes, it has been reported in #65

The `-n` option uses the default response for questions which has been wrongfully set to `False`. It will be fixed in the `0.8.2` version 

[2016-04-26 16:15] sdispater commented on #62
Thanks for reporting this.

You can report errors and typo in docs to the official repository : https://github.com/orator-orm/docs

[2016-04-27 11:56] joaobarbosa commented on #62
Thanks @sdispater! You've been doing a great job, btw :smile:

[2016-04-27 12:00] #62 closed

[2016-04-29 20:36] sdispater commented on #65
Commit 5bdf770fcf9d72b61f74692d133bfb8066bdec48 should fix the problem.

Can you try the `0.8` branch and tell me if it works?

[2016-04-29 20:36] sdispater commented on #67
Commit 5bdf770fcf9d72b61f74692d133bfb8066bdec48 should fix the problem.

Can you try the `0.8` branch and tell me if it works?

[2016-04-30 23:06] tantita commented on #68
No comment?

[2016-05-01 19:03] sdispater commented on #68
Sorry, I did not mark it as closed but it's been fixed in commit 37949d08e25f12cbe7678582b32d3dd65898723b on the `0.8` branch.

[2016-05-12 20:03] tantita commented on #68
Ok

[2016-05-16 16:51] tdpsk opened #70 "Recursive belongs_to / has_many relationship"
Hi all,

I have been struggeling lately to find a solution for one of my problems: I have a model "Category", which can have a parent. So one category might belong to another category as a child.

If I now use the normal belongs_to and has_many decorators provided by Orator, I receive Python errors because class loading is caught in a recursion loop. Is there a supported way to create such a relat

[2016-05-17 16:15] sdispater commented on #70
You have a problem in your model. This is what it should look like

[code]
or, if you want to be more verbose:

[code]

[2016-05-18 12:49] tdpsk commented on #70
Thanks, but wouldn't that mean the foreign-key field in my database has to be called "parent_id"? Is there a specific reason the field can't be called "parent"?

[2016-05-18 14:28] sdispater commented on #70
`parent` is the name of your `belongs_to` relation. Therefore the foreign key must have another name for Orator to properly handle the relation.

[2016-05-20 01:57] scorphus opened #71 "Raise an exception other than AttributeError when psycopg2 is unavailable"
When trying to run another project I got this:

[code]
I had to open orator's source code (`/orator/connectors/postgres_connector.py`) to understand I had to install psycopg2 with pip.

[2016-05-20 05:03] sdispater commented on #71
This issue has been fixed on the `develop` branch (commit a349906c14bf7cb25ed216db9604d8119711d498) but never made it to the `0.8` branch.

I will release the `0.8.2` version this week and this fix will be included.

[2016-05-20 17:01] scorphus commented on #71
Great! Glad to know. As soon as it's released I close this issue. Thank you!

[2016-05-20 18:36] 12789 opened #74 "Invalid default value for 'updated_at'"
I got a migration issue.

**MySQL: 5.7.12**

**migration file:**

[code]

[2016-05-20 21:11] sdispater commented on #74
It's not in the documentation yet, but you can use the `use_current=True` keyword for the `timestamps()` method to set the default value to the current time.

[2016-05-29 23:25] revictus opened #75 "charmap UnicodeEncodeErorr on windows"
When you run a migration on windows it throws the following error (migration still successfully runs):

  [UnicodeEncodeError]
  'charmap' codec can't encode character '\u2713' in position 5: character maps to undefined

Character u2713 is the checkmark that is present in the self._note in the migrator.py file

[2016-05-31 17:09] sdispater commented on #75
Which Python version are you using?

[2016-06-02 13:10] joaobarbosa opened #76 "TypeError raised when using model's .save() method (Python 3.5)"
I'm having the following problem when trying to save a model.

First, my set up:

- Python 3.5.0+
- Orator 0.8.1
- PyMySQL 0.7.4

**Note:** everything seems to be working fine using Python 2.7, it only happens with Python 3.5

Here's my model:

[code]

How it happens:

[code]

It generates the following exception + traceback:

**TypeError: cannot serialize '_io.BufferedReader' object**

[code]

An

[2016-06-02 13:43] joaobarbosa commented on #76
Testing other cases, I found out that when the database record already exists, saving after fetch it using ```.find_or_new()``` works fine. :+1:

[2016-06-02 14:06] joaobarbosa commented on #76
Testing again:

Installing from straight from git, it works! I did it with two branches:

[code]

Problem is only happening with the stable release/tag 0.8.1.

[2016-06-02 17:18] sdispater commented on #76
Thanks for the thorough investigation 👏

I should release the `0.8.2` version this week with this fix included.

[2016-06-02 17:20] #70 closed

[2016-06-02 21:33] felipevolpone opened #77 "How to define a model?"
Hey guys, very impressive work! Thank you!
I'm trying to use Orator, but I can't find a more "realistic" example of how to define a model. I would like to know how can I define the size of string fields, how to define boolean fields, etc.

Something like:

[code]

 Thank you :D

[2016-06-02 21:59] #48 closed

[2016-06-02 21:59] #65 closed

[2016-06-02 21:59] #67 closed

[2016-06-02 21:59] #68 closed

[2016-06-02 22:00] sdispater commented on #71
Version `0.8.2` has just been released with the fix included.

[2016-06-02 22:01] sdispater commented on #75
The checkmark has been removed for now. Everything should work properly in the latest `0.8.2` version.

[2016-06-02 22:02] sdispater commented on #76
Version `0.8.2` has just been released. 

[2016-06-02 22:24] sdispater commented on #77
Orator is pretty much schema-driven, meaning that models do not hold column definitions and constraints.

So, basically, if you work from scratch, the process is creating migrations via the `orator` command interface and then create your models.

Let's take an example of a `users` table with the columns you specified above. First, you need to create a migration file, like so:

[code]
Then, you can

[2016-06-03 00:55] scorphus commented on #71
YAY! Thank you! 🎉

[2016-06-03 00:55] #71 closed

[2016-06-03 02:56] scorphus opened #78 "Add a Makefile to the project to ease contributions"
Hello, Sébastien.

I see `.gitignore` has a `Makefile` entry in it, right at the bottom. This hints at an existing `Makefile`. If that's the case, would you like to add it to the project? I think it may ease contributions. Along with some docs, but that's for another pull request...

If that's not the case, I can create a `Makefile`, for which I already have a kinda-working draft.

Thanks!

[2016-06-03 14:47] sdispater commented on #78
There was a Makefile, but it was mainly to build the sphinx documentation. However, it is now in its own repository: https://github.com/orator-orm/docs

But I agree that it would ease contributions. I will look into it.

[2016-06-03 17:20] scorphus commented on #78
Cool! Let me propose one, I'll open a pull request as soon as I get the chance.

[2016-06-03 17:37] felipevolpone commented on #77
Oh, so orator it's even better than I thought! Nice, thank you @sdispater!

[2016-06-03 20:01] felipevolpone commented on #77
Hi,
so I create a new migration:
[code]

Then I have two files:
db.py and the migrations/2016_06....

At db.py
[code]

When I run
[code]

I get it:
[code]

When I try to run using:
[code]

I get it:
[code]

Some idea?

Thank you

[2016-06-03 21:00] sdispater commented on #77
Your `db.py` file should look like this:

[code]

The command expects the configuration file to define a `databases` variable

[2016-06-03 21:23] sdispater opened #79 "Make the -P/--pretend option actually work for migrate commands"

[2016-06-05 15:09] felipevolpone commented on #74
I get the same error. So, maybe it's a good idea the default value of  use_current be True.
Something like:
[code]
I think this is easier and really intuitive. What do you think?

[2016-06-05 15:13] felipevolpone commented on #77
Hi @sdispater, thank you for your reply :) it worked nice, but I'm getting another error when running the migrations, check it out.

[code]
[code]

To create the migrations file I used this commands:
[code]
After that, I ran:
[code]

[2016-06-05 18:33] sdispater commented on #77
If you're using MySQL you have to specify that you foreign key integer is unsigned, there is a note in the documentation telling so: https://orator-orm.com/docs/0.8/schema_builder.html#foreign-keys.

So, basically, you should have something like this:

[code]

[2016-06-06 11:52] felipevolpone commented on #77
Hi @sdispater it works now. Thank you for helping me :)) :+1:

[2016-06-06 11:52] #77 closed

[2016-06-06 15:48] sdispater commented on #74
Yes, it seems like a good idea to make it the default value.

The change will be trageted for the next `0.9` release.

[2016-06-06 15:57] #76 closed

[2016-06-08 20:37] joaobarbosa commented on #74
When this issue happened with me, I dig into it and found out that MySQL 5.7 makes **NO_ZERO_DATE**  mode enabled by default. (http://dev.mysql.com/doc/refman/5.7/en/sql-mode.html).

When Orator indicates a not null timestamp field without a explicit default value, the database will try to use '0000-00-00 00:00' - conflicting with **NO_ZERO_DATE** mode. I solved it by disabling the SQL mode (bette

[2016-06-10 22:01] sdispater commented on #74
Thanks for the clarifications.

I think that, to avoid the hassle of digging into the MySQL configuration file, it's better to make the `use_current` value to default to `True`. It's more intuitive in my opinion.  

[2016-06-11 19:29] joaobarbosa commented on #74
Sure, I agree. :)

[2016-06-14 16:50] aurcioli-handy opened #81 "'updated_at' column not being set when using transaction to insert"
In mysql when inserting a record using a transaction, the `updated_at` column is set to `0000-00-00 00:00:00` after insertion.

Doing the same operation but without a transaction uses the same date as `created_at`

[2016-06-15 19:11] #75 closed

[2016-06-15 19:21] revictus opened #82 "Select on relationships"
In Laravel it is possible to do a select on specific columns from relationship, is this currently possible in orator?

Example: http://blog.laravel.in/get-specific-columns-from-laravel-relationships/

[2016-06-15 19:30] joaobarbosa commented on #82
@revictus I think it might be possible using eager loading constraints features (but I didn't try it yet). Check it out: https://orator-orm.com/docs/0.8/orm.html#eager-load-constraints

I think you might be able to customize the queries, adding the select statement.

[2016-06-15 22:46] sdispater commented on #82
@revictus If I understand it correctly, it would be something like this:

[code]
If this is the case, that is not currently supported by Orator. When returning a Builder instance in a relationship method, columns are not carried over. However, it is something that might be useful so I will look into it.

[2016-06-16 04:36] tantita opened #83 "Timezone setting"
Hi, I noticed you used arrow library from datetime management. Is there a way to modify the Timezone as it defaults to UTC. Thanks

[2016-06-16 05:13] tantita commented on #68
Hi, Kindly compare these 2 lines:
https://github.com/sdispater/orator/blob/0.8/orator/orm/relations/belongs_to_many.py#L634
updated = self._new_pivot_statement_for_id(id).update(attributes)
and
https://github.com/sdispater/orator/blob/0.8/orator/orm/relations/belongs_to_many.py#L789
 def new_pivot_statement_for_id(self, id):

The method is defined w/o an underscore, and called with an underscore p

[2016-06-16 13:25] revictus commented on #82
@sdispater I suspected that it wasn't currently supported as the example you laid out is what I was attempting to accomplish.

If this could make it into a future update of Orator it would be very helpful

[2016-06-16 15:40] sdispater commented on #68
Thanks for investigating it.

I just pushed a fix (26666bd4a0d268d3f3cbdb144dec8521c01db6d3) on the `develop` branch. The fix will be included in the next `0.9` major version .

[2016-06-16 15:51] sdispater commented on #83
The default timestamp is determine by the `fresh_timestamp()` method of the models, so you could overwrite it like this:

[code]

[2016-06-16 16:20] #78 closed

[2016-06-16 19:30] tantita commented on #83
Pls how I do simply convert every timestamp column (created_at and updated_at) to UTC+1 time zone when accessing then. I want to leave them stored as UTC in d database

[2016-06-16 19:32] tantita commented on #68
You welcome sir

[2016-06-16 20:32] sdispater commented on #83
The easiest way would be to use an [accessor](https://orator-orm.com/docs/master/orm.html#accessors-mutators), like so:

[code]

[2016-06-17 18:02] tantita commented on #83
When I did this, I was getting a JSON serialization error, as the result of the model was to be coverted to a dict using the to_dict() method and passed to jsonify thus:
[code]
The problem with the solution u provided was that the accessor returned an object of type Arrow, while I think the serializer was expecting a datetime object.

Anyways, I found a hack around it by creating an accessor in th

[2016-06-17 18:07] tantita opened #84 "Admin panel that works with Orator"
Hello guys, this isn't really an issue, but this place is like the only community Orator-orm currently has. My question is: Is there any admin panel like Flask-admin that works with orator just like we have for pewee and sql-alchemy

[2016-06-17 21:30] sdispater commented on #83
Yes, the example I gave you actually raises an error. That's a problem in how the accessors work for date attributes.

Basically, once an attribute has been marked as mutated (either with the `accesor` or the `mutator` decorator) it will not be properly serialized.

I will see how to fix it.

[2016-06-20 21:41] sdispater commented on #82
@revictus I just pushed a fix (825e83afc2802c22d626aa92d38e14355c14416b) on the `develop` branch so that columns can be specified in a relationship. You can test it out if you want.

It will be officially available in the next `0.9` release.

[2016-06-20 21:41] sdispater commented on #83
The serialization error should be fixed on the `develop` branch.

[2016-06-20 22:08] sdispater opened #85 "Return collections from the query builder"
Queries made with the query builder directly should return a `Collection` instance.

[2016-06-21 01:39] sdispater opened #86 "Make the dbapi connections return namedtuple accessible like dictionaries"
The dbapi connections currently return cursors accessible only like dictionaries. We should get back to returning named tuples (the default) accessible like dictionaries to avoid backward incompatibility.

[2016-06-24 16:03] tantita commented on #84
no comment?

[2016-06-26 13:36] tdpsk opened #87 "Unable to run migration of one column is defined as ENUM (MySQL)"
Hi,

one of the columns in my database is defined as an ENUM and was created via a migration. Now if I try to run any other migration on the same table, I get the following error:

[code]

[2016-06-26 21:29] sdispater commented on #87
It's not specified in the documentation but modifying a column that has the `enum` type is not currently supported.

This is a limitation of the underlying database layer.

[2016-06-29 14:30] joaobarbosa commented on #84
@tantita As far as I know, there's no official support from the biggest admin libs right now. Unfortunately. :cry:

[2016-07-01 11:39] tdpsk commented on #87
Thanks for the update. However the migration also fails if I try to modify any other column of a table that as an enum-table.

[2016-07-01 22:10] sdispater commented on #87
OK. I will look into it and get back to you.

[2016-07-08 06:50] Karthick6038 opened #88 "Attribute Error : 'module' object has no attribute 'table'"

[2016-07-08 06:52] Karthick6038 commented on #88
I am trying to use the query instead of model. But it throws the following error,

Query : db.table('users').select('id').get()

AttributeError: 'module' object has no attribute 'table'

[2016-07-08 14:43] sdispater commented on #88
Strange. What's the exact code that triggers the error (how is the DatabaseManager initialized?)

[2016-07-08 15:23] Karthick6038 commented on #88
Sorry, issue on my side. I rectified.

[2016-07-08 15:23] #88 closed

[2016-07-14 23:25] scwood opened #89 "TypeError: 'autocommit' is an invalid keyword argument for this function"
I know there's a similar issue open however mine seems a little bit  different. This is happening on my production server but not on local.

[code]

The driver I am using (I think) is PyMySQL, I say I think because in that stack trace it's inside the MySQLdb package. Is there a way I can force Orator to use PyMySQL? Or perhaps I don't understand the stack trace. This is happening when I'm calling

[2016-07-15 16:05] scwood commented on #89
So I have a client deadline that I had to meet and "fixed it" by replacing a block of code in orator/connectors/mysql_connector.py

[code]

[code]

I'm assuming this problem stems from an old version of MySQLdb on my end, unfortunately I can't upgrade.

[2016-07-18 16:25] sdispater commented on #89
Orator prioritizes MySQLDB over PyMySQL and, for now, there is no way to tell it to use one over the other.

Orator assumes that you are using only one MySQL package in your project.

However, it seems that you have an old version of MySQLDB (propably the `mysql-python` package  that has not been updated in years). Orator only supports the `mysqlclient` package.

[2016-07-18 16:27] scwood commented on #89
That makes sense. I'll go ahead and close this.

[2016-07-18 16:27] #89 closed

[2016-07-26 03:27] Peilun0912 opened #90 "Why use "ON UPDATE CURRENT_TIMESTAMP" clause for created_at column but not for updated_at column?"
From the names, I think the `updated_at` column is supposed to be the one updated when the row updated, not the `created_at` column. It confuses me.

[2016-07-26 14:34] sdispater commented on #90
What is the backend you are using and which version ?

Also, could you provide a code sample that causes the issue?

[2016-07-26 16:03] sdispater commented on #81
Sorry for not getting back to you sooner.

Which version of MySQL are you using?

[2016-07-26 16:05] #60 closed

[2016-07-26 16:05] #79 closed

[2016-07-26 16:05] #82 closed

[2016-07-26 16:05] #86 closed

[2016-07-26 17:20] aurcioli-handy commented on #81
mysql  Ver 14.14 Distrib 5.6.29, for osx10.11 (x86_64) using  EditLine wrapper

[2016-07-27 02:52] Peilun0912 commented on #90
I'm using MariaDB 10.0.24.

My code is simple. I just create a migration as below and run `orator migrate` command.

[code]

The created table has the `created_at` column which is set `NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP` and the `updated_at` column which is set `NOT NULL DEFAULT '0000-00-00 00:00:00'`.

[2016-07-27 16:31] sdispater commented on #87
This has been fixed in commit e2ee60012c9fe58962248180b0e530203c1c130b on the `develop` branch.

[2016-07-27 17:00] sdispater commented on #90
The error is due to how MySQL or MariaDB is configured, especially the `explicit_defaults_for_timestamp` option that is disabled by default on MySQL < 5.6.5 and I assume MariaDB:

So, basically the first NOT NULL TIMESTAMP column will get the `NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP`.

You might want to try doing:

[code]

which will be the default in the next version and ge

[2016-07-27 17:01] sdispater commented on #81
Are you using the ORM or the query builder directly?

[2016-07-27 19:12] #83 closed

[2016-07-28 03:55] Peilun0912 commented on #90
Tested. Now both two columns are set in the same way. Thanks for the solution!

[2016-07-29 18:16] #85 closed

[2016-07-29 18:16] #87 closed

[2016-07-29 18:19] sdispater opened #91 "Objects returned with Model.on() should use the proper connection"

[2016-08-01 22:02] sdispater commented on #91
Fixed in 37448c1a3424cc9a3f91cf4f501a97dbee5363b5

[2016-08-01 22:02] #91 closed

[2016-08-02 14:30] #74 closed

[2016-08-02 14:30] #90 closed

[2016-08-11 16:37] JunyuMu opened #92 "How to group_by year or month in orator?"
this is my table:
[code]

I want post query group by year. like:
[code]

[2016-08-18 11:55] Marlysson opened #93 "Just a doubt about test with arrow library"
In a test case you used the Arrow Library .. Why not the Pendulum? Since handle better datetimes .. as shown in documentation them .. Or was it a matter of choice..

[2016-08-18 14:35] sdispater commented on #93
When I started Orator, Pendulum did not exist so I used the more popular library at the time. But now I have updated the code (see f9090931c38c0c25d66ffaf4264458190c4ef936) to use Pendulum in the next major version (0.9).

[2016-08-18 14:41] Marlysson commented on #93
Ok , what date will be launched?

[2016-08-18 14:46] sdispater commented on #93
I don't have a fixed release date yet. Shouldn't be long now. Probably in early september.

[2016-08-18 14:53] Marlysson commented on #93
" - The arrow library wasn's working for me then I create a better. " kkk ( About Pendulum )

Very cool these library.

[2016-08-21 11:53] tdpsk opened #94 "Belongs_to not being loaded in accessor"
I have a children / parent relationship which I modelled using has_many / belongs_to. The code I use is below:

[code]

As you can see, url should return the parent deeplink if no deeplink is set for this model. However in my tests, I always receive a "no parent!", although the parent_id is set correctly.

The following manual loading code works as expected and return the parent deeplink correctly

[2016-08-21 23:17] sdispater commented on #94
I think you have have the parameters in `belongs_to` backwards, it should be:

[code]

[2016-08-22 19:28] #93 closed

[2016-08-23 17:46] tantita commented on #68
Hi, please try and push this fix to the current main branch as this is a trivial issue.
Thanks

[2016-08-23 19:09] tantita opened #95 "What are the major new things I need to change in my code if I want to use the develop branch"
Ok, so i updated my code to use the develop branch, since that's where all the bug fixes go to,and i noticed that the to_dict() method of the model has been removed(I was getting a fatal error in my code for this method), so I checked the last commits on the develop branch and changed all to_dict() reference in my code to serialize()

My question now is: Is there any other major change that's inco

[2016-08-24 16:07] sdispater commented on #95
Not much as there are not a lot of breaking changes:

- All `to_dict()` methods have been replaced by `serialize()`
- The ORM no longer returns `Arrow` instances but [Pendulum](https://github.com/sdispater/pendulum) instances.
- Collections are no longer bundled in Orator. Orator now depends on [backpack](https://github.com/sdispater/backpack) for collections. So be sure to have it installed.

And

[2016-08-25 09:48] #92 closed

[2016-08-25 16:55] sdispater commented on #92
Sorry for not getting back to you sooner.

Did you close this because you found a solution?

For now, there is no easy and builtin way to order by a unit of a timestamp. Maybe by using a raw group by for your specific backend.

[2016-08-31 03:14] mattcl opened #96 "Plans for custom serializers?"
ActiveModel for ruby supports custom [serializers](https://github.com/rails-api/active_model_serializers). Any plans to add this? It would be useful for giving people the option of "for this particular request, I want .serialize() to produce the following..."

[2016-09-02 19:46] #95 closed

[2016-09-09 17:27] sdispater commented on #94
@tdpsk Did it solve your problem?

[2016-09-10 08:12] tdpsk commented on #94
Yes, my fault, thanks for the help!

[2016-09-10 17:24] #94 closed

[2016-09-20 08:43] yarivfive opened #101 "support for mssql"
Hi Guys,
I'm using eloquent with PHP Laravel and it's great.
now I'd like to use it with Python and came across your project.
I see there is no out of the box support for MS SQL.
Is it planned to add such support in the near future?
If not, how hard would it be to add it? can I do it with your guidance?
If I do, I will be happy to contribute it to your project

thanks and best regards
Yariv

[2016-09-20 15:07] sdispater commented on #101
Thanks for your interest in Orator.

I don't plan on adding support for other backends, no. However, it would be fairly easy to create a new package (let's say `orator-mssql`) that does.

There are multiple things to consider when adding a new backend:

* A `Connection` class (This is the main object to execute queries)
* A `Connector` class (This is the class that wraps the DBAPI objects and hand

[2016-09-21 12:20] yarivfive commented on #101
thanks

I'm currently using sqlalchemy and it is "doing the job"
thanks for your reply

[2016-09-21 12:20] #101 closed

[2016-09-22 11:27] fizzday opened #102 "pymysql & mysqldb error report"
when i set the basic usage , i catch the error
[code]
because my python's version is 3.5.2, so i installed pymysql instead of mysqldb.
then i find the source of `mysql_connector.py` in line 7 . i change the code
[code]
in the first , finally like
[code]
but, it get new error
[code]
how can i resolve this problem

[2016-09-22 14:47] sdispater commented on #102
If I install 'pymysql' I don't have the `ImportError` you encounter, however I still have the second error you have.

Anyway, you can use `MySQLdb` in Python 3 by installing the `mysqlclient` package which is a fork of the original 'MySQLdb'.

I will fix the errors with `pymysql` though, so If you want to use it I'll tell you when it's ready.

[2016-09-22 15:37] sdispater commented on #102
OK. Errors for `pymysql` are fixed on the `0.9` branch.

[2016-09-23 05:52] fizzday commented on #102
谢谢, 我手动安装了`orator-0.9`版本, 已经没有这个错误了

[2016-09-23 08:36] fizzday opened #103 "how can i use multiple where condition in a array in one where method as eloquent usage"
the eloquent usage like:
[code]
I tried the orator usage like:
[code]
I get the error:
[code]
is orator support this usage like???

[2016-09-26 10:15] Agnewee commented on #103
Of course.
[code]
You should read [official doc](https://orator-orm.com/docs/0.9/orm.html#retrieving-a-model-by-primary-key-or-raise-an-exception)

[2016-09-26 22:40] sdispater commented on #103
@fizzday Passing multiple conditions as a list in the `where()` method is not currently supported.

[2016-09-26 22:40] sdispater commented on #102
I will try to release a bugfix release this week.

[2016-09-27 02:59] joaobarbosa opened #104 "Decimal/Double raises exception when using migrations + sqlite"
Hi @sdispater,

I've been trying to use Orator migrations with an SQLite database, and I'm getting the following error when I run the migration.

First, my migration code:

[code]

Raises this exception:

[code]

Is there any other info I can provide? :)

[2016-09-27 03:31] sdispater commented on #104
Both `decimal()` and `double()` need a column name as the first parameter, so it should be:

[code]

[2016-09-27 04:43] joaobarbosa commented on #104
Sure it is. Sorry, I didn't notice I was making this mistake. 😭

[2016-09-27 04:43] #104 closed

[2016-09-27 12:30] Agnewee opened #105 "How to Migrate db in the script ?"
Now I want to run the migration in a script file.

I try to run it like command line
[code]
[code]
but sometimes the run path not in `test.sqlite` dir.

i means that the model file also need import the `db`, but if  `from ..db import db` will throw exception.

how can i make it flexibly in the script file ?

[2016-09-27 14:13] joaobarbosa opened #106 "Weird behaviour when working with not-incremental IDs"
This issue happens when I have to set IDs manually, and I don't want to use them in the regular way with auto-incrementing trigger.

Model:
[code]

Script with results:
[code]

After saving, the 'id' property seems to follow the incrementing order, but only in the model object. In the database, the record is saved correctly.

btw: I'm using SQLite.

Thanks!

[2016-09-27 15:14] sdispater commented on #105
It's not trivial to migrate programmatically, however you can take the code of the `migrate` command as a starting point:

[code]

However, be aware this is part of the internal logic of Orator and is not considered to be part of the public API so it might break in future version.

[2016-09-27 15:16] sdispater commented on #106
It seems that the `__autoincrementing_ = False` is not honored and `insert_get_id()` is called regardless.

I will look into it.

[2016-09-27 15:37] sdispater commented on #106
Oh! It's not `__autoincrementing__` but `__incrementing__` that's why it behaves like it does.

[2016-09-27 15:51] Agnewee commented on #105
I got it. thanks so mush

[2016-09-27 15:51] #105 closed

[2016-09-29 15:14] sdispater commented on #102
I just released the bugfix release `0.9.1`.

[2016-09-29 15:14] #102 closed

[2016-09-29 15:14] sdispater commented on #106
I just fixed the documentation.

[2016-09-29 15:14] #106 closed

[2016-09-29 15:15] sdispater commented on #96
No, I don't currently plan on adding this.

[2016-09-30 13:51] totalpeople opened #107 "Running migrate gives TypeError"
Hi, I'm getting this error when I'm running the migrate command. Any ideas how I can get it to work?

`[TypeError]
  unsupported operand type(s) for +: 'NoneType' and 'str'

Exception trace:
 /usr/local/lib/python3.5/dist-packages/cleo/application.py in run() at line 96
   status_code = self.do_run(input_, output_)
 /usr/local/lib/python3.5/dist-packages/cleo/application.py in do_run() at line 188

[2016-09-30 14:05] sdispater commented on #107
What is your backend (`sqlite`, `mysql` or `postgresql`) ? And what package are you using to connect to it (`sqlite3`, `mysqlclient`, `pymysql` or `psycopg2`) ?

[2016-09-30 14:08] totalpeople commented on #107
Hi I'm using mysql and installed pymysql

[2016-09-30 14:13] sdispater commented on #107
What is you configuration for you database (replace sensitive  information) ? Have you set a `prefix` configuration ?

[2016-09-30 14:29] totalpeople commented on #107
I moved my settings to a config.yml file and set prefix to nothing. I then changed my db.py file to an empty string and it's worked.

I changed this ...

`
databases = {
    'mysql': {
        'driver': config['databases']['mysql']['driver'],
        'host': config['databases']['mysql']['host'],
        'database': config['databases']['mysql']['database'],
        'user': config['databases']['mysq

[2016-09-30 14:31] sdispater commented on #107
I will improve this to automatically set the `prefix` to `''` if it is set to `None` in the config. 

[2016-09-30 14:32] #107 closed

[2016-10-13 23:35] 12789 opened #109 "Incorrect datetime value: '2016-10-13 18:59:57.892599+00:00' for column 'created_at' at row 1")"
Orator-ORM: 0.9.1
Python: 2.7.10
MySQL: 5.7.15

It happened when I save a model.

`orator.exceptions.query.QueryException: (1292, "Incorrect datetime value: '2016-10-13 18:59:57.892599+00:00' for column 'created_at' at row 1") (SQL: INSERT INTO `admins` (`created_at`, `email`, `updated_at`) VALUES (%s, %s, %s) ([<Pendulum [2016-10-13T18:59:57.892599+00:00]>, 'abc@gmail.com', <Pendulum [2016-10-13T

[2016-10-13 23:59] sdispater commented on #109
Are you using `mysqlclient` or `PyMySQL` as your database package?  

[2016-10-14 00:10] 12789 commented on #109
@sdispater Yes, I have installed PyMySQL package.

[2016-10-14 00:19] sdispater commented on #109
Which version of PyMySQL do you use?

[2016-10-14 00:19] 12789 commented on #109
@sdispater PyMySQL (0.7.9)

[2016-10-14 00:40] sdispater commented on #109
Thanks. I will check out what the problem is an get back to you.

[2016-10-14 16:31] sdispater commented on #109
I can't reproduce. How do you save your model?

[2016-10-14 16:35] 12789 commented on #109
@sdispater

[code]
[code]

[2016-10-14 17:39] sdispater commented on #109
That's strange. I still can't reproduce. Everything is behaving as expected on my end.

Here is the query that is executed on my system:

[code]

Pendulum instances are properly formatted in my case.

[2016-10-14 19:34] 12789 commented on #109
@sdispater
I made a new env by virtualenv for test, The model works perfect.
I try to find out what happened.
After all, it reproduced when I installed MySQL-python.

[2016-10-14 20:13] sdispater commented on #109
I can only reproduce with the `mysql-python` package which is not supported by `orator` you should use `mysqlclient` which is an up-to-date version of `mysql-python` which also support python 3. Or you can use `pymysql`.

Also if you have both installed, `mysqlclient` (or `mysql-python`) will have priority.

[2016-10-14 20:17] 12789 commented on #109
Got it.

I've installed MySQL-python and PyMySQL, so I have to uninstall MySQL-python to fix the issue, right?

[2016-10-14 20:18] sdispater commented on #109
Yes.

And if you ever need `mysql-python`, use `mysqlclient` instead. 

[2016-10-16 08:04] mashedkeyboard opened #110 "sqlite_processor error when on a hunt for column names"
Having some trouble trying to get a list of columns in a table for a class. The code I'm using is the following:
[code]
However, all I get is an error from the sqlite_processor:
[code]
Any ideas why this might be? Not sure if this is a bug or me doing something wrong.

[2016-10-16 21:24] sdispater commented on #110
It's a bug.

I will look into it and get back to you.

[2016-10-17 05:30] mashedkeyboard commented on #110
Thanks, appreciated!

[2016-10-17 16:16] sdispater commented on #110
I just pushed a fix on the `0.9` branch. You can test if it works for you.

[2016-10-17 18:54] #109 closed

[2016-10-18 06:50] krupenin opened #111 "Migration error in version 0.9.2"
[code]

https://github.com/sdispater/orator/blob/bce3c000b21016d4e6804a7660838e27b0626026/orator/schema/grammars/postgres_grammar.py#L48
If you will remove the quotation marks, the error would be disappeared

[2016-10-18 15:09] sdispater commented on #111
Good catch!

I just pushed a fix (c1a1d10a63e68a1f6d08c304e9f063245982f364) on the `0.9` branch that should resolve the issue.

[2016-10-18 16:25] sdispater commented on #103
@fizzday It's now possible to do that in the latest `0.9.2` release.

[2016-10-18 16:25] #103 closed

[2016-10-18 16:25] #96 closed

[2016-10-18 16:25] #110 closed

[2016-10-21 06:43] mashedkeyboard opened #112 "Multiple tables in single 'create migration' command"
Feature request: can we have the capability to specify multiple tables simultaneously for the migration creator of the orator binary?

[2016-10-24 16:41] Gr1N opened #113 "asyncio support"
Hi!

Thanks for your work guys, ORM looks very nice to me (good replacement for `SQLAlchemy` to my mind).

But my question about `asyncio` support (or your plans to support if any), I found nothing in docs, but maybe I wrong. It would be great to have possibility to write code like this (https://github.com/aio-libs/aiopg#example-of-sqlalchemy-optional-integration) using `orator`.

[2016-10-24 16:54] sdispater commented on #113
Thanks for your interest in Orator!

Orator does not currently support asyncio but that's definitely something I want to do.

I don't know just yet if it will be directly integrated in the library or available as a separate package.

[2016-10-24 16:58] Gr1N commented on #113
Nice to hear this!

I know this is weird question, but maybe you have any estimates (like half year, year...)?

[2016-10-24 19:12] MechanisM commented on #113
I see that aiopg mentioned, but there is better option [`asyncpg`](https://github.com/MagicStack/asyncpg)

[2016-10-27 20:18] sdispater commented on #113
@Gr1N No, I don't have any estimates yet.

[2016-10-27 20:19] sdispater commented on #112
I might be useful however I don't how it would work with the `--create` option.

[2016-11-01 02:02] pc10201 opened #114 "about case insensitive"
How to query with case insensitive or case sensitive?

like django _icontains or _ieiexact

[2016-11-01 18:50] sdispater commented on #114
For now, there is no database independent way of doing that since it will depend on the RDBMS you're using:

### Postgres

It's case-sensitive by default.

| Django notation | Orator operator |
| ---------------- | --------------- |
| `icontains`         | `ILIKE '%value%'`|
| `iexact`              | `= value`                    |

### MySQL

Case insensitive by default.

| Django notation | Orato

[2016-11-01 20:46] sebastialonso commented on #111
@sdispater I run into this error today, and I'm running version 0.9.2. Maybe I should install orator directly from the repo?

[2016-11-01 20:47] sdispater commented on #111
Yes, you should install from the repo directly.

I will try to make a new bugfix release this week.

[2016-11-01 20:49] sebastialonso commented on #111
Thank you!

[2016-11-07 14:35] guzgarcia opened #116 "Provide API reference"
The documentation is clear, it says you **how you do** some things, but not **how it works**. For example:

However, there is no information about this class. We need a API reference to consult classes, methods, hierarchy of classes and packages, etc.

[2016-11-08 15:58] sdispater commented on #116
I agree that having an API reference is useful.

I will see if I can add one and integrate it to the documentation.

[2016-11-08 16:01] guzgarcia commented on #116
Would be great. Thanks for considering it.

[2016-11-09 15:42] darvid opened #117 "Support spatial data extensions"
At the very least, support for the [POINT](http://dev.mysql.com/doc/refman/5.7/en/populating-spatial-columns.html) field type would be nice to have, and the ability to create a spatial index.

[2016-11-09 15:43] AdamBouhmad commented on #117
^^ +1

[2016-11-10 23:04] sdispater commented on #111
The bugfix release `0.9.3` has just been released. It fixes this issue.

[2016-11-10 23:04] #111 closed

[2016-11-11 17:16] joaobarbosa opened #118 "Question: is there any way to run a complete raw query?"
Hi @sdispater,

I was wondering if it would be possible to run a complete raw query at once, without the need of spliting it. Let me explain: I'm currently working on a project which has some _really big_ queries. Right now, I'm using lots of ```db.raw('...')``` inside ```db.select()``` or ```.where_raw('...')``` and so on.

I think it would be nice to have a method (if we doesn't have one already

[2016-11-11 19:14] sdispater commented on #118
@joaobarbosa You can just pass your raw query to `db.select()`:

[code]

[2016-11-11 20:27] joaobarbosa commented on #118
Nice! :)
Thanks a lot!

[2016-11-11 20:27] #118 closed

[2016-11-16 06:26] RustJason opened #119 "Modify data in chunk only return half data"
[code]
q.count = 10
but after update, only half of the data being updated, anyway to improve this?

[2016-11-16 20:56] joaobarbosa opened #120 "AttributeError when saving belongs_to relation"
Hi there,

I'm having an issue when trying to save a model with a ```@belongs_to``` field. The model:

[code]

How I'm trying to save it:

[code]

Exception:

[code]

But, the table has the column 'product_id', because I can set it directly using ```device.product_id = x```. Is there anything wrong?

Thanks!

[2016-11-16 23:02] sdispater commented on #119
The problem comes the fact that you update inside the code to `chunk()`.

Each time you get a chunk from `chunk()` it executes an SQL query. Here is what happens internally:

When you get you first chunk, the following SQL query is executed

[code]
Then, you update the five entries you just got and get another chunk with the following query:

[code]

But at this point you already updated five entr

[2016-11-16 23:03] sdispater commented on #120
Thanks for reporting this. I will investigate it and get back to you.

[2016-11-17 12:46] joaobarbosa commented on #120
It's happening with ```.attach()``` (```belongs_to_many``` relationship) also:

[code]

[code]

[code]

[2016-11-17 13:18] joaobarbosa commented on #120
Figured out what was going on with ```.attach()```: I was trying to attach an model to another before saving the Device object! Saving the model before performing the ```.attach()``` solved it (but is this expected? I thought it would create the relationship after saving it into the database).

[code]

I've tried to apply the same workaround for the ```.associate()``` issue (setting the relation f

[2016-11-17 15:10] sdispater commented on #120
Yeah. `associate()` and `attach()` will only work with a saved object because when you call `users()`, Orator will try to get the foreign key on the object.

The best approach for now would be to save the relation the other way:

[code]

But, I will try to improve the way `belongs_to` relations are handled.

[2016-11-17 20:35] sdispater commented on #120
I just pushed a fix for the `associate()` method (c441473a9a415a981df6c50fd45a88c616220fff) to the `0.9` branch.

Regarding `attach()` I will not change the behavior since you can only attach  two existing models.

[2016-11-20 19:01] joaobarbosa commented on #120
Thanks a lot, @sdispater!

[2016-11-20 19:01] #120 closed

[2016-11-25 11:17] andriy-sa opened #121 "Count with group by not work correctly"
persons = Person_e.select('persons_person.*',db.raw('count(persons_comment.id) as comments__count'))\
            .with_('last_comment')\
            .left_join('persons_comment','persons_person.id','=','persons_comment.person_id')\
            .where('persons_person.id','>',0)\
            .order_by(sort,reverse)\
            .group_by('persons_person.ids')

        total_count = persons.count()

[2016-11-25 11:17] andriy-sa commented on #121
return 1 (instead of 5)

[2016-11-28 04:46] rimantoro opened #122 "Seeder : [Import Error] No module named ......"
Hi,

I'm trying to run a migration but it always return an ImportError

[code]

This is the trace :
[code]

My customer_seeder.py
[code]

My database_seeder.py
[code]

The error is very clear, where I cannot import customer_seeder.py, but do I'm doing this wrong about how to import it using __**from .customer_seeder import CustomerSeeder**__ ?

[2016-12-02 04:13] rimantoro opened #123 "ImportError: cannot import name DatabaseManager"
I'm updating my issue.

Now, instead of using Flask. I'm using a simple Pycnic framework with Orator. This is my installation

* Virtualenv
* Orator 0.9.3

Somehow Orator suddenly cannot import all of the module. This is how I reproduce this issue :

* Create a new virtual environment and clone my project [here](https://github.com/rimantoro/my-pycnic-svc).
* Install requirement ```pip install -r r

[2016-12-02 19:57] sdispater commented on #123
What is the version of both orator and flask-orator?

Also, can you give me a sample of the code you wrote?

[2016-12-05 06:30] rimantoro commented on #123
I have a manage.py in my root project path also I have "application" folder where I put my project core and create the app object inside application folder

[project_path]/manage.py
[code]

[project_path]/application/__init__.py
[code]

I even not using the "db" yet, but it always return an error I mention before.

[2016-12-06 19:46] patrickcteng opened #124 "View ORM query"
This may be a naive question, but is there a way to view the raw query that's issued to the DB when I'm using the ORM models? I know I can write the SQL query to match what the ORM is doing, but I just want to be able to make sure it's querying as I'm expecting it to query.

Thanks.

[2016-12-07 00:12] sdispater commented on #124
You can use the `to_sql()` method.

[code]

If you want to get the list of the bindings, use the `get_bindings()` method.

[code]

[2016-12-07 14:24] Ademord opened #125 "Pagination"
Paginator to JSON does not support providing metadata such as total, current_page,  last_page, and more.
The Illuminate/Paginator adds **options when it changes toArray()
[code]
**Source:**
https://laravel.com/docs/5.3/pagination,
https://github.com/illuminate/pagination/blob/master/Paginator.php
**Current code:**
https://github.com/sdispater/orator/blob/0.9/orator/pagination/paginator.py
A viable

[2016-12-07 20:03] patrickcteng commented on #124
Thank you!

[2016-12-07 20:03] #124 closed

[2016-12-17 10:41] acristoffers opened #126 "ImportError: The ``fake-factory`` package is now called ``Faker``"
An update to fake-factory changed the package name. The relevant part of the exception is:

File "/usr/local/lib/python3.5/site-packages/orator/orm/factory.py", line 5, in <module>
    from faker import Faker
  File "/usr/local/lib/python3.5/site-packages/faker/__init__.py", line 7, in <module>
    raise ImportError(error)
ImportError: The ``fake-factory`` package is now called ``Faker``.

[2016-12-17 11:03] acristoffers commented on #126
It's not just a rename, the fake-factory package is now deprecated and the package Faker should be used. See https://pypi.python.org/pypi/fake-factory

[2016-12-17 19:36] byronformwalt opened #127 "Feature Request: Add support for using uuids as primary keys."
I just discovered Orator last night.  I'm a Rubyist that needs to mingle Python3 and Ruby in a project with a shared PostgreSQL database hosted locally.  I use uuids as primary keys in the database.  I haven't found a way to do this, so I am opening a feature request.  Also, I haven't been able to find a discussion forum for Orator.  Does one exist yet?

[2016-12-17 19:41] byronformwalt commented on #126
Here is what worked for me:
`$ pip uninstall fake-factory`
`$ pip install Faker`
On my first attempt, I used `$ pip install faker`, which did not work.  Apparently, package names are case sensitive.

[2016-12-17 19:54] byronformwalt commented on #127
It looks like addition of this type would need to be included in the body of the following method:
`orator.dbal.PostgresSchemaManager._get_portable_table_column_definition()` which is defined in [orator/dbal/postgres_schema_manager.py](https://github.com/sdispater/orator/blob/0.9/orator/dbal/postgres_schema_manager.py).

[2016-12-17 23:41] acristoffers commented on #126
I made a pull request ( #128 ) that changes the requirement. With that I can run my application again. I don't know, however, how much the API changed, if at all.

[2016-12-17 23:41] #126 closed

[2016-12-18 02:52] sdispater commented on #126
I just merged your PR.

I don't think the API has changed that much from what I've seen so we should be good.

[2016-12-18 04:22] sdispater commented on #127
There is a Slack for Orator. So if you want to to be added to it drop me a DM on [twitter](https://twitter.com/SDisPater) with your email address and I will gladly do it.

Regarding UUIDs in Orator, if you only need to read and write to the database, you can easily do it since UUIDs can be inserted and retrieved as strings.

Now, if you want to create a column with the UUID type from Orator this i

[2016-12-18 04:38] byronformwalt commented on #127
Thank you.   I was looking for binary UUID support because I think it would make indexing on UUIDs more efficient when being used as a primary key for a table.  Looking at the source, it doesn’t seem like this would be a trivial feature to add, so I completely understand if it gets a low priority.  Thank you for your consideration!

Byron

[2016-12-18 04:52] sdispater commented on #127
I am not sure I understand. What's the type of your column in PostgreSQL?

[2016-12-18 06:29] byronformwalt commented on #127
The column type for the primary key is “uuid" with modifiers “not null default uuid_generate_v4()"

Here is an example:

[2016-12-18 07:55] byronformwalt opened #129 "Bug: Exception raised when model.py _mutator_cache is empty."
I am getting an error when attempting to define a custom initializer for instances of a Model subclass.  The problem occurs in the line `2395:         if key not in self._mutator_cache[klass]:`
of `orm/model.py`, where `self._mutator_cache` is an empty dictionary.

`KeyError                                  Traceback (most recent call last)`
`/Applications/anaconda/lib/python3.5/site-packages/orat

[2016-12-18 08:45] byronformwalt commented on #129
I'm closing the issue, because of user error.  It is essential to call super() when overriding __init__() for subclasses of Model, like so:
[code]

[2016-12-18 08:45] #129 closed

[2016-12-18 18:50] sdispater commented on #127
So, yes, you can pass a string to Orator as your ID and it will automatically be converted to a uuid. If you have a binary uuid column you can also pass a string and it should work.

[2016-12-18 19:55] byronformwalt commented on #127
Maybe I am missing something, but the major advantage of uuid support (coming from Ruby/ActiveRecord) is that the database will generate its own uuid values automatically.  If I used Orator with an auto-incrementing big integer as the primary key, it does not randomly generate a new uuid.  That’s why I’m thinking that adding this feature would not be trivial.  If I understand the situation correct

[2016-12-18 19:59] sdispater commented on #127
Okay. I understand now, sorry for being so slow. So, you are right it's not possible to create a uuid type from the schema builder without making it database backend dependent.

I will look into it but, as you said, it will not be trivial.

And, thanks for the kind words, I really appreciate it 😃

[2016-12-18 22:21] byronformwalt opened #130 "Feature Request: Enable not-in-schema model attributes/properties to be defined."
For an illustration and more details, see this [gist](https://oratororm.slack.com/files/byronformwalt/F3FK91SQ1/2016_12_18_205220_create_table_examples.py).

[2016-12-19 14:37] istommao commented on #126
I Encounter this problem too, When to release hotfix?

[2016-12-21 01:48] byronformwalt opened #132 "Bug: Cannot change PostgreSQL column of type double to be nullable()"
The following migration fails on a PostgreSQL table 'items' that has a double-precision column named, 'my_nullable_value':

[code]

The error message provided is:
[code]

[2016-12-21 01:52] byronformwalt commented on #132
Using `float` instead of `double` does work.

[2016-12-21 21:15] tcwalther opened #133 "Feature request: add default docstrings to relations such as has_many and belongs_to"
Documentation tools such as sphinx use `inspect.getdoc` to get the documentation on a function. Internally, that uses `inspect._finddoc`, which includes the following code snippet (Python 3.5.2):

[code]

Let's define the following class:

[code]

In `inspect._finddoc`, it will try to find a docstring for `Post.user`, which doesn't exist. Therefore, it searches for a docstring in `orator.Model.use

[2016-12-22 13:05] sdispater commented on #132
Could you post the complete traceback to see where the error is raised?

[2016-12-29 08:17] rimantoro commented on #123
@sdispater I'm updating my comment with a steps for reproduce the issue

[2016-12-29 14:47] sdispater commented on #123
Thanks. I will take a look at it when I have the time.

[2016-12-29 16:13] sdispater commented on #123
After a quick look: your problem comes from the `orator.py` file because when you do `from orator import db`, Python will use the `orator.py` file instead of the library. And when you go back to `master` a `orator.pyc` file still exists which Python picks up that's why you still see the error.

[2017-01-04 09:53] rimantoro commented on #123
@sdispater

Ok, there is one issue. But in my dev-migration branch why the "DatabaseManager" raised an ImportError even I have successfully install orator ?

[2017-01-04 10:19] rimantoro commented on #123
I'm already find, why I cannot start my gunicorn server. I'm deleting my orator.py file and it run well. Not yet know why the file caused an ImportError when starting the server.

[2017-01-04 15:30] tcwalther commented on #126
Would it be possible to release a minor update with the updated dependency?

[2017-01-05 17:49] tdpsk opened #134 "count() is off if join() and where() are used in the same query"
count() seems to calculate incorrectly if I use joins. Given the following query:

`query = Product.join('availabilities', 'availabilities.product_id', '=', 'products.id').select('products.*').distinct().where('availabilities.available, True)`

I get two different results:

query.count() returns 6, which is the total number of availabilities rows that match both the product_id and available constr

[2017-01-06 01:45] #123 closed

[2017-01-06 19:40] llaaiiqq opened #135 "Bug: Orator doesn't reconnect after postgres connection loss"
I can reproduce this reliably by running some queries and then restarting my database. Once the connection is lost, orator will continue to throw without attempting a reconnect because the connection closed exception isn't recognized by [_caused_by_lost_connection](https://github.com/sdispater/orator/blob/a254af7a574097ae98a0b0b80997ad7fc5355f5b/orator/connections/connection.py#L319)

The exceptio

[2017-01-06 20:17] sdispater commented on #134
It's definitely a bug.

Could you activate the logs (using `log_queries` in your config) to see the queries being executed?

[2017-01-06 21:48] sdispater commented on #135
I was able to reproduce it too.

The underlying issue was that the error message `server closed the connection unexpectedly` was not caught by Orator and even if the database was restarted psycopg2 would keep raising the `connection already closed` error.

This shoudl be fixed in commit 95b526311e35281c220fd0a7a5158cd91da6eae4 on the `0.9` branch.

[2017-01-06 21:54] llaaiiqq commented on #135
Great, thanks! Withdrew my PR.

[2017-01-07 18:39] sdispater commented on #126
I will release the bugfix version in the coming week.

[2017-01-10 01:34] Ghilteras opened #137 "cannot change column from nullable() to not nullable"
Hey guys, I have a schema previously built with a nullable() column:

[code]
 but now I need that column to be normal so I'm trying to strip the nullable() with another migration:

[code]

and this fails with this error:

[code]

specifically this is the stacktrace:

[code]

this is against mysql. Am I doing something wrong? Is there maybe a specific method to strip nullable() ?

[2017-01-10 16:48] sdispater commented on #137
Which version of `orator` are you using?

This error should no longer happen since it has been fixed in the `0.9.0` version.

Anyway, if you want to change a column from being nullable to not being nullable you should do:

[code]

[2017-01-10 19:25] Ghilteras commented on #137
we are running 0.8.1.dev4, will try upgrading to 0.9 (it does not work with nullable(False) and 0.8)

[2017-01-12 16:47] sdispater commented on #135
Version `0.9.4` has just been released.

[2017-01-12 16:47] #135 closed

[2017-01-12 16:49] sdispater commented on #126
Version `0.9.4` has just been released.

[2017-02-02 21:58] pinge commented on #127
+1

[2017-02-03 16:19] denislins commented on #123
This has just happened to me. I spent ~2 hours fiddling around until I managed to solve it :(

Could we please change the docs to reflect this? I think it would help a lot of people trying to use the library.

[2017-02-03 18:20] denislins opened #138 "make:migrate doesn't show the name of the created file"
This would be a very handy addition as it would enable us to copy the file name and open it directly in Sublime, Atom or whatever. ActiveRecord, Eloquent and other libraries already do this.

Today I have to manually navigate to the migrations folder and look the newest file there. This can become even more annoying when the number of migrations start to grow.

Would this be a good addition? I'd b

[2017-02-03 19:23] sdispater commented on #138
Yes, I agree that would be useful.

Feel free to make a PR :-)

[2017-02-03 19:58] denislins opened #139 "Transactions don't seem to be working properly"
I might be doing something wrong, but currently I'm not able to rollback a transaction. This is the code I'm using:

[code]

The user count continues to grow, however. In addition, I tried raising an exception instead of manually rolling back, with the same result.

Could this be a bug? I am doing something wrong?

[2017-02-03 20:01] sdispater commented on #139
Strange. What's your database backend (PostreSQL, MySQL or SQLite)?

[2017-02-03 20:48] sdispater commented on #137
@Ghilteras Did upgrading to 0.9 solve your issue?

[2017-02-03 20:53] denislins commented on #139
I'm sorry! I was writing the issue when I got called into a meeting, and I should've been more clear.

I'm using python 3.5.2 and a dockerized postgres v9.6.1, with docker-compose to link the containers. I'm using docker for mac 1.13.0, and OS X 10.12.2.

[2017-02-03 22:01] #139 closed

[2017-02-03 22:02] sdispater commented on #139
I just pushed a fix (c4ac034758985ff25146af9637da8b8bd3a2b716) on the `0.9` branch. You can test it to see if it fixes the issue for you.

[2017-02-04 05:37] denislins commented on #138
Awesome. I'll attend a conference this weekend, but the PR should be ready by Monday.

[2017-02-06 15:27] denislins commented on #139
It appears to be working :)

Do you have any idea when will we have this patch released?

[2017-02-06 15:50] denislins opened #141 "Associations can't be used to create a new object"
ActiveRecord provides an easy way of using a model instance to reference an association, like this:

[code]

I think that this would be an awesome feature, both for productivity and for readability. Something like this:

[code]

This would also make some integrations simpler, like when using `factory_boy`. It has a `SubFactory` feature, much like the `association` feature of `factory_girl`, which

[2017-02-08 21:38] denislins opened #142 ".serialize() behave differently depending on the object instance"
`serialize()` appears to return different dicts depending on how the model instance was created. For instance:

[code]

'm using python 3.5.2 and a dockerized postgres v9.6.1, with docker-compose to link the containers. I'm using docker for mac 1.13.0, and OS X 10.12.2.

[2017-02-09 17:08] sdispater commented on #142
When you use `create()`, the attributes used by `serialize()` are those you passed when creating the object. Orator does not get a fresh object from the database.

But when you use `find()`, you get an object built with the attributes returned by the underlying connector (`pyscopg2` in this case) which may, in some cases, return a slightly different type than the one passed when creating the objec

[2017-02-09 17:11] #138 closed

[2017-02-14 17:21] denislins commented on #142
Although the suggested approach worked correctly, I don't think it is the correct one.

Casting the values is a manual work, which means that we must specify the casts for all fields that could present this behaviour, in every single model.

I believe that the best option if to find a way in which both scenarios behave consistently. Maybe passing the values through the same filters which the recor

[2017-02-17 10:04] crowdmetricivar opened #143 "MySQL autocommit"
Im getting the error below while testing out orator with mysql

 File "/usr/local/lib/python2.7/dist-packages/orator/connectors/mysql_connector.py", line 95, in _do_connect
    return self.get_api().connect(**self.get_config(config))

**TypeError: 'autocommit' is an invalid keyword argument for this function**

i have PyMSQL and mysqldb installed.
i get the error while running select command on th

[2017-02-17 10:41] crowdmetricivar commented on #143
i got it working by editing mysql_connector.py

the issue here is that on mysqldb, setting auto_commit is not supposed to be via config

here are my changes

**is_mysqldb = False**
try:
    import MySQLdb as mysql

    # Fix for understanding Pendulum object
    import MySQLdb.converters
    MySQLdb.converters.conversions[Pendulum] = MySQLdb.converters.DateTime2literal

    from MySQLdb.cursors im

[2017-02-17 16:21] sdispater commented on #143
Are you using  the `mysql-python` package to provide `mysqldb` by any chance?

If that's the case you have to use `mysqlclient` instead which is a maintained fork of `mysql-python` with bugfixes and python 3 support, and it is the one supported by `orator`.

It also have proper support for the `autocommit` keyword: https://github.com/PyMySQL/mysqlclient-python/blob/cba486e0438c2bbad9802667c7a1db0e

[2017-02-17 16:41] crowdmetricivar commented on #143
yeah i am using mysql-python to provide msqldb . tnx for the tip regarding mysqlclient

[2017-02-20 16:37] finetuned89 opened #144 "Typo in docs for accessors"
I ran into a small typo that had me scratching my head for some time: `__appends__` is spelled `__append__` in the example code at the bottom of https://orator-orm.com/docs/0.9/orm.html.

[2017-02-21 17:53] #119 closed

[2017-02-21 21:49] tsterker opened #145 "SQLite support for DATE types with date mutator (__dates__, get_dates)"
Hello again :)

When I reference a column of type `DATE` in the `__dates__` array, I get an exception as `orator` seems to only expect `datetime` instances being listed there ([orator/orm/model.py#L2319..L2321](https://github.com/sdispater/orator/blob/0.9/orator/orm/model.py#L2319..L2321)):

[code]

Is this on purpose or could `DATE` types also be supported?

**Update:**
I was using the `mysql` dr

[2017-02-22 16:55] sdispater commented on #145
No, this is not on purpose.

Now that `pendulum`, which is used by `orator`, has a `Date` type we could use it to handle `DATE` columns.

I will check it out and get back to you.

[2017-02-24 04:15] cselmer opened #148 "Typo in docs for migrate:refresh"
In the documentation at https://orator-orm.com/docs/0.9/seeding.html#running-seeders, the command for rebuilding a database is listed as `orator migrations:refresh`, but should be `orator migrate:refresh`

[2017-02-24 19:50] sdispater commented on #145
I just pushed a fix on the `0.9` branch that should address the issue.

[2017-02-26 23:29] cselmer opened #149 "Typo in docs for model observer methods"
On [this page](https://orator-orm.com/docs/0.9/orm.html#model-observers), the synatax for model observer methods is documented as:

[code]

The correct syntax appears to be:

[code]

If you can point me to a repo where the documentation is stored, I'd be more than happy to submit a PR for this (and a few other) typos I've run across.

[2017-02-27 19:51] sdispater commented on #149
Thanks.

The repo for the documentation is here: https://github.com/orator-orm/docs

[2017-03-02 16:27] #143 closed

[2017-03-04 20:25] cselmer commented on #148
Resolved with https://github.com/orator-orm/docs/pull/6

[2017-03-04 20:25] #148 closed

[2017-03-04 20:25] cselmer commented on #149
Resolved with https://github.com/orator-orm/docs/pull/6

[2017-03-04 20:25] #149 closed

[2017-03-10 09:53] vimox-shah opened #152 "[UnsupportedDriver] Driver "psycopg2" is not supported for postgres"
It is mention on the site that use psycopg2 for postgres sql but it is not working while I run python db.py migrate command.
app.py

[code]
![screenshot from 2017-03-10 15-21-59](https://cloud.githubusercontent.com/assets/24619300/23790518/68905abe-05a5-11e7-801b-b532d9752b6c.png)

[2017-03-11 06:13] vimox-shah commented on #152
hey @sdispater can you please suggest solution for this?

[2017-03-12 06:19] sdispater commented on #152
`psycopg2` is the name of the python package you need to install. It's not the driver name. The driver name is `pgsql`.

[2017-03-15 09:20] finetuned89 opened #153 "Circular imports"
The [docs](https://orator-orm.com/docs/0.9/orm.html#one-to-one) describe that one can simply use syntax like:

[code]

and

[code]

In reality, this leads to NameError for the related class. When you decide to put:

    from models.phone import Phone

and

    from models.user import User

at the top of these respective classes, you end up with an ImportError, because of circular imports. It seems

[2017-03-15 11:18] vimox-shah commented on #152
I tried with driver name as postgres and it worked for me . thanks for help.

[2017-03-15 11:18] #152 closed

[2017-03-15 11:24] vimox-shah opened #154 "how can I create field with type array in orator models?"
@sdispater  please help me to understand how can I store array field in model?

[2017-03-15 12:16] finetuned89 commented on #154
You can store it in a TEXT field and cast the array as a "dict", as explained in the [docs](https://orator-orm.com/docs/0.9/orm.html#attributes-casting).

Also consider creating a separate model for the array items and using [relations](https://orator-orm.com/docs/0.9/orm.html#relationships) to link the array items to your primary model.

[2017-03-17 10:02] finetuned89 opened #155 "Serious bug in __touches__ behavior"
Say I have a model like this:

[code]

If the `Parent` relation is **optional**, and a `Child` without an associated `Parent` is updated, **all the `Parent` items' timestamps are updated**. This is a serious problem in my view and should be resolved. If there is no `Parent` associated with the `Child`, none of the `Parent` items should have their timestamps updated.

[2017-03-17 15:43] vimox-shah opened #156 "how to providde validation model attributes in orator orm?"
@sdispater can you tell me how to give validation for model fields?

[2017-03-17 19:17] sdispater commented on #155
Thanks for reporting this.

I will look into it and get back to you.

[2017-03-18 02:20] viweei opened #157 "I use with_trashed method load softdelete data but it not work."
Hello again .

I would like to include in the record has been deleted users.

[code]

But I get the SQL statement, still have the condition `users`.`deleted_at` IS NULL

[code]

If only query the user it is right.

[code]

i am doing wrong?

[2017-03-20 17:21] sdispater commented on #156
For now, there is no built-in validation system.

However, if you want to ensure the model is correct before saving it you can use events like documented in the documentation: https://orator-orm.com/docs/0.9/orm.html#cancelling-save-operations-via-events

[2017-03-21 12:10] tcwalther opened #158 "chunk should use cursors"
The current chunk method uses [`self.for_page`](https://github.com/sdispater/orator/blob/0.9/orator/query/builder.py#L1161), which issues a `SELECT ... LIMIT .. OFFSET ...` query for every single chunk. This is highly inefficient for large tables, and can furthermore lead to race conditions:

- A producer calls `SELECT all rows that aren't processed ORDER BY id OFFSET 0 LIMIT 10`, and sends those

[2017-03-22 12:04] pandasauce commented on #153
Have you tried this approach?

[code]

[2017-03-22 12:48] pandasauce opened #159 "Running migrations programmatically"
A fairly common scenario with ActiveRecord due to coupling that it imposes: you need to test something using a database.

In order to do that, I need to run migrations when setting up a test and to revert them when tearing it down, or just to run a ```migrate:refresh``` before every test - doesn't matter which. Currently there is no easy way to do so. I looked into code to see if I could somehow c

[2017-03-22 16:32] finetuned89 commented on #159
I usually do:

    from subprocess import call
    call(["orator", "migrate:rollback", "-n"])
    call(["orator", "migrate", "-n"])

But I agree that it would be nice to have it built in.

[2017-03-22 16:52] sdispater commented on #159
I know there is no documented way of executing migration programmatically but you can take a look at the `migrate` and `migrate:rollback` command.

A sample code would be:

[code]

[2017-03-22 22:02] sdispater commented on #158
While I agree it could be a better implementation, the current architecture prevents it from being trivial to implement.

So, I can't give an ETA for when it will land in Orator.

[2017-03-23 19:03] tcwalther commented on #158
Hi @sdispater, thanks for your quick reply, I really appreciate it.

What changes do you think would be necessary to implement this feature? As it currently stands, I would rather advocate on removing the method, as using it can be highly misleading.

[2017-03-25 00:20] mattcl opened #160 "Model returned from .create() incorrectly reports associated model for (unset) belongs_to relation. Hacky workaround works for sqlite3/mysql but not postgres"
[code]
So this behavior is not observed if you do the following hacky workaround.
[code]
*however*, using postgres (with psycopg2==2.7.1) yields the following error
[code]

It looks like because the underlying where clause is
[code]
it ends up passing None to psycopg2 which somehow results in an '=' being inserted in place of the value. This behavior is *not* observed when using PyMySQL or the sql

[2017-03-25 00:24] mattcl commented on #160
I should add the associated model and migration

Model:
[code]

Migration:
[code]

[2017-03-27 17:17] sdispater commented on #160
Thanks for the detailed explanation.

I will look into it and get  back to you.

[2017-03-27 19:00] sdispater commented on #158
Commit 802d0958349050e5a54b763a0c423f8ea47e40c6 should fix the issue.

[2017-03-27 20:07] sdispater commented on #160
Ok, I see.

The thing is `create()` will only create the entry in the database without populating the model's attributes. So when you do

[code]

the `parent_id` attribute is not set on the model which causes the `belongs_to` relation to not set the proper constraint.

Maybe `create()` should get a fresh instance automatically. It would also be useful if you have default values for the table.

For

[2017-03-27 20:26] tcwalther commented on #158
Woah. That was fast. I'll test this tomorrow; thanks a lot for this!!

[2017-03-27 20:39] mattcl commented on #160
Ah, I see I misunderstood how .fresh() worked. I assumed it was like ActiveRecord's .reload() where it would do it in place. The postgres issue still stands, however, even with .fresh().

[2017-03-28 16:17] sdispater commented on #160
Commit 6fd2096c53c75b5adb6f08d183608b96312a28af should fix the issue

[2017-03-28 17:25] finetuned89 commented on #153
Yes, that works. However, I decided to just define the relationship in just one of the models, which makes importing like `from models.user import User` work just fine.

Thanks for the suggestion though :-)

[2017-04-06 11:03] Neschur opened #161 "Different timezone when get one model through different ways"
VERSION: 0.9.5

response = Response.create()
print(response.id, response.created_at)

response = Response.order_by('id', 'DESC').first()
print(response.id, response.created_at)

OUTPUT:
513 2017-04-06T**11**:00:42.035452+**00:00**
513 2017-04-06T**14**:00:42.035452+**00:00**

My local time: UTC+3:00

[2017-04-06 15:46] sdispater commented on #158
@tcwalther Did it solve the issue?

[2017-04-06 15:48] sdispater commented on #160
@mattcl Did commit 6fd2096c53c75b5adb6f08d183608b96312a28af fix the issue for you?

[2017-04-06 16:07] sdispater commented on #161
Are you using PostreSQL by any chance? I can reproduce the problem only with a PostgreSQL backend.

[2017-04-06 19:53] Neschur commented on #161
Yes, I use PostreSQL 9.5.6

[2017-04-06 20:07] sdispater commented on #161
Ok. It seems that since the timestamp column contains a timezone information (offset) when the `INSERT` query is executed each the column value is actually casted to `timestamptz` by `psycopg2` which give a value in the current server timezone.

In your example, it would be:

[code]

and since you are in UTC+3 the actual value is `14:00:42.035452+03:00`. However, timestamps column are without time

[2017-04-06 21:21] mattcl commented on #160
@sdispater yes, that looks like it resolves the problem. Thanks for the quick turnaround!

[2017-04-13 08:11] finetuned89 opened #162 "Collection of a SQlite database query contains Cursors, not Records"
Performing the following on a MySQL table:

    my_users = db.table('users').where('name', 'Steve').get()

returns a `Collection` containing `Record` objects that can be dealt with in a "dict-like" fashion. This also means that we can use `to_json()` or `pop()` or other methods on the `Collection` to deal with the results in a convenient way.

Performing the same operation on a SQLite table, resul

[2017-04-13 17:20] sdispater commented on #162
It should work the same. I will take a look at it.

[2017-04-14 15:20] nekh opened #163 "'NoneType' object has no attribute 'autocommit'"
Error when create entity
'NoneType' object has no attribute 'autocommit'

[2017-04-16 09:32] Neschur commented on #161
I seems it is a bug? Why it doesn't marked as a bug?

[2017-04-16 19:28] sdispater commented on #161
Yes, it's a bug. And it should be fixed on master.  You can test if you want.

[2017-04-18 10:20] vimox-shah opened #164 "how can I know updated fields or dirty fields in after save or after created callbacks?"
@sdispater hey I want to know updated fields in callbacks how can I do that in Orator's model observer or from callbacks?

[2017-04-18 16:22] vimox-shah opened #165 "how can I perform logical operation through query on updated_at field ?"
hey @sdispater  how can I perform logical operation through query on updated_at field ? because it is stored as string then how do i perform logical opertaion on updated at field ?

[2017-04-23 23:43] JuniorZavaleta commented on #122
I add my project's root folder to the PYTHONPATH enviroment variable

Reference:
https://github.com/sdispater/orator/issues/41
https://askubuntu.com/questions/250929/pythonpath-environment-variable

[2017-04-24 03:09] JuniorZavaleta commented on #122
I had the same problem, I tried import another seeder by cli and works. I don't know what is the problem, but for the moment In the cli, I make an instance of the database seeder and run() and works :neutral_face:

well... I create in the root of my project a little file with the next

[code]

now i use `python seed.py`

npi cual es el problema :v

[2017-04-25 10:56] tcwalther commented on #158
Hi @sdispater, this does indeed solve the issue. Thank you very, very much for fixing it!

[2017-04-25 10:56] #158 closed

[2017-04-26 07:06] thedapperlabel opened #166 "why does orm's update method is not calling its after updated callback ?"
hey @sdispater model's observer method updated is called when model is update or update query run why?

[2017-04-27 11:15] jychen7 opened #167 "has_many_through behaviour is different from ActiveRecord"
http://guides.rubyonrails.org/association_basics.html#the-has-many-through-association

[code]

`User.first().devices` will generate

SELECT `devices`.*, `user_devices`.`user_id`,
FROM `devices`
INNER JOIN `user_devices` ON `user_devices`.**id** = `devices`.`device_id`
WHERE `user_devices`.`user_id` = 1

which was suppose to generate

SELECT `devices`.*, `user_devices`.`user_id`,
FROM `devices`
IN

[2017-04-27 11:26] jychen7 commented on #167
Instead, `oractor`'s `belong_to_many` is similar to `ActiveRecord`.`has_many_through`
a little bit confusing

[2017-04-28 08:10] jychen7 opened #168 "eager load nested relationships better to support multiple levels"
currently it supports only one level.
e.g. `books = Book.with_('author.contacts').get()` will eager load `contacts`

Suppose each `contact` belongs_to a `country`

`books = Book.with_('author.contacts.country').get()` won't eager load `country`

[2017-04-28 08:17] jychen7 commented on #168
Also if `author` has_many `addresses`, I am not sure how to eager load in current syntax.

maybe we can adopt dictionary like ActiveRecord, e.g.
[code]

[2017-05-02 02:01] jychen7 commented on #113
Nice to hear this.
I think separate package would be better, like https://github.com/challengepost/activeasync

[2017-05-09 17:39] sdispater commented on #168
Thanks for reporting this!

Multiple levels should definitely work. It must me a bug.

Also, you could do:

[code]

Anyway, I will investigate the multiple levels issue.

[2017-05-09 18:45] sdispater commented on #166
I am not sure I understand. Which method is not called when you update a model?

[2017-05-09 22:10] sdispater commented on #168
After proper testing `books = Book.with_('author.contacts.country').get()` loads the `country` relation correctly.

[2017-05-12 00:25] sdispater commented on #155
It should be fixed on the `0.9` branch. It will land in the next `0.9.6` release.

[2017-05-12 04:19] paladini opened #169 "Better documentation for Orator "generators" (Orator CLI) + can I help with that?"
Hello!

Firstly, I'm a ex-Ruby-on-Rails developer and I'm going to a more pythonic way of life right now, so I really need to thank you for this awesome "copy" of ActiveRecord. There's some important things that I'm missing in "Orator generator" (e.g: `orator make:model User <attribute1>:<type1> <attribute2>:<type2>`, etc.) and I would like to help your project implementing these features.

Howeve

[2017-05-12 06:10] paladini commented on #169
The second question has some relation with this pull request: #170

[2017-05-12 06:12] paladini opened #171 "Add setup.py and requirements.txt"
Another thing that can help developers code some new features for your project is to remove "setup.py" and "requirements.txt" from your .gitignore file. This way we can make changes on the library, install all the dependencies and then test it locally before submitting it as a PR.

[2017-05-12 17:20] sdispater commented on #171
Those are not needed since Orator now uses [Poet](https://github.com/sdispater/poet) to handle dependency management and packaging.

[2017-05-13 04:15] sdispater commented on #162
It should be fixed in commit ac674247dfc3a88bf93ba4d09f5b83dae40ea110 on the `0.9` branch.

The fix will land in the next `0.9.6` release.

[2017-05-13 05:40] paladini commented on #171
Oh, this sounds nice :) Thanks for the fast answer!

I would like to suggest you to write some documentation on how to use Poet within your project (Orator). Do you need some help with documentation? I've noticed that Orator has a good documentation, but it's far to cover everything it should.

[2017-05-16 15:27] sdispater commented on #171
I think I will add a **Contributing** section to the README to make it more clear.

[2017-05-16 20:36] #145 closed

[2017-05-16 20:36] #155 closed

[2017-05-16 20:36] #160 closed

[2017-05-16 20:36] #161 closed

[2017-05-16 20:36] #162 closed

[2017-05-16 20:36] #168 closed

[2017-05-17 07:32] jychen7 opened #172 "v0.9.6 has error when using command"
https://github.com/sdispater/orator/blob/ce6c4c3b22a5e034f5c6a6926572887a76c7ed02/orator/commands/application.py#L4
[code]
but version is removed at https://github.com/sdispater/orator/commit/9498167aa98d94138333f213b83e3ee1229b8dfe

[2017-05-17 17:33] sdispater commented on #172
Sorry about that. I will definitely release a hotfix by the end of the day.

[2017-05-17 22:03] sdispater commented on #172
Version `0.9.7` is out!

[2017-05-17 22:03] #172 closed

[2017-05-18 04:32] paladini commented on #171
Thank you @sdispater !

[2017-05-18 04:39] paladini opened #173 "Project structure for bigger projects"
Orator documentation teaches about structuring some models using a single .py file, but there's no examples or instructions for who have creating bigger projects, where you cannot put all of your models inside a single .py file. I know that's not Orator fault, since users should be able to make their own project structure / architecture. Anyway, it can help a lot of people that is going to use `or

[2017-05-19 06:16] jychen7 commented on #172
appreciate

[2017-05-22 14:42] finetuned89 opened #174 "Running migrations silently"
I used to be able to run:

    orator migrate -n

Which would run the migrations without prompting. This seems to no longer work in 0.9.7. I have also tried

    echo y | orator migrate

Which also no longer works. The command simply returns:

    Command Cancelled!

Is there a way to run the migrations silently? I use this for automatic deployments and continuous integration.

[2017-05-22 15:02] finetuned89 commented on #174
Looking at the code for `command.py` and related modules, one way of doing it is to use the `-f` option. I'm not sure what other side-effects that might have:

[code]

From `migrate_command.py`, I see that it starts with:

    if not self.confirm_to_proceed(
        '<question>Are you sure you want to proceed with the migration?</question> '
    ):
        return

I'm not sure how the `self.confir

[2017-05-22 17:51] sdispater commented on #174
Yes, you should use the `-f|--force` option to run migrations without confirmation.

The `-n` option uses the default answers configured for each question. In the case of `migrate` those are set to `False` to avoid running migrations by mistake, thus the addition of the `-f` option

[2017-05-27 14:53] MojaveKid opened #175 "Feature Request: Add Connection Pool"

[2017-05-29 10:24] int3rlop3r opened #176 "'orator migrate' ignores the 'prefix' attribute"
While running the `orator migrate` command, the `_table` attribute in the DatabaseMigrationRepository is set as the table name without adding the 'prefix' attribute specified in the config file. This causes it to look for a table called 'migrations' which won't exist in the database.

[2017-05-29 10:41] sankardatta opened #177 "Using Global Scopes leads to RuntimeError"
Hi,

We are trying to define a [Global Scope](https://orator-orm.com/docs/0.9/orm.html#global-scopes) but it leads to a RuntimeError stating "recursion depth exceeded while calling a Python object". The error is raised when using multiple scopes or scopes with where clauses.
An example code is pasted below:
[code]

We are using `python 3.4.4` and `orator 0.9.7`.
I used [pudb](https://github.com/in

[2017-05-29 17:47] int3rlop3r commented on #176
I thought calling self.get_connection().get_table_prefix() + table would solve it. It worked​ for me but apparently it broke​ all the tests, will try to have a better look at it once I have the time.

[2017-05-29 22:57] sdispater commented on #177
Thanks for the detailed explation.

I will take a look at it and get back to you as soon as possoble.

[2017-06-01 08:46] canimus opened #179 "Wrong command in Seed documentation"
Reference is: [here](https://orator-orm.com/docs/0.9/seeding.html)
The last part of the documentation in the Seed section refers to the command:
[code]

It should be changed to:
[code]

Happy to contribute and change it, but documentation does not have a repo?

[2017-06-01 18:52] denislins opened #180 "Nested transactions don't appear to function properly"
I have a modified version of unittest's `TestCase`, in which I start a transaction before each test, and rollback the transaction after each test. This makes sure every test is isolated from each other.

It looks like this:

[code]

The problem is, I'm testing a class which opens a transaction of its own, which causes this error to be raised: `psycopg2.ProgrammingError: autocommit cannot be used i

[2017-06-01 21:01] sdispater commented on #179
The documentation is here: https://github.com/orator-orm/docs :-)

[2017-06-08 20:43] cselmer opened #181 "morphed_by_many is broken"
I have a very similar use case (tagging) as the morphed_by_many example in the documentation, but receive an error when attempting to use the morphed_by_many decorator.

Models:

[code]

Calling `User.find(1).tags` works fine, but the inverse `Tag.find(1).users` results in `TypeError: morphed_by_many() got an unexpected keyword argument '_wrapped'`

I think I've tracked down the issue and should h

[2017-06-08 21:12] cselmer commented on #179
I think I fixed this with the PR that was approved, but it appears the change is only in the master branch, not the 0.9 branch.

https://github.com/orator-orm/docs/commit/697dbfd5a5515a8b841a6d425f7243f5b787a0c2

[2017-06-09 08:24] ycz0926 opened #183 "how about add a `iter_pages` method of paginate instance?"
when i use the paginate in the view template，i want to display the page index，it will Iterates over the page numbers in the pagination， but the paginate doesn't have a [iter_pages](http://flask-sqlalchemy.pocoo.org/2.1/api/#flask.ext.sqlalchemy.Pagination) method, i have to Iterates over the page numbers by myself:
[code]
how about add a build in `iter_pages` method of paginate instance?

[2017-06-19 22:32] #181 closed

[2017-06-19 22:34] sdispater commented on #180
What does your class look like?

I will try to reproduce but having an example might help.

[2017-06-19 22:52] sdispater commented on #179
Documentation has been updated!

[2017-06-19 22:52] #179 closed

[2017-06-19 22:52] #174 closed

[2017-06-20 22:21] denislins commented on #180
It's very simple, actually:

[code]

[2017-06-30 01:16] tkensiski commented on #41
@sdispater would be nice to get those docs updated... This is not straight forward and I just spent a bit of time looking for an answer with very little results other than this.

[2017-07-06 19:22] denislins opened #185 "Option to use timestamps with time zone"
I recently received a warning from a DBA of my company about the use of timestamps without time zone. He explained that, in general, timezones should be used with time zones, and supported his argument with these SO discussions:

https://stackoverflow.com/questions/6151084/which-timestamp-type-should-i-choose-in-a-postgresql-database#answer-17562423
https://dba.stackexchange.com/questions/59006/wh

[2017-07-09 22:14] alex4321 opened #186 "How to build query with view ```CONDITION1 AND (CONDITION2 OR CONDITION3)````"
E.g. I need query like next:

    SELECT FROM sessions WHERE
       messenger_connector_prefix="telegram"
       AND
       chat_id="100500"
       AND
       (status=1 OR status=2);

So - I had code:

    found = Session.where("messenger_connector_prefix", "=", prefix) \
                  .where("chat_id", "=", chat_id) \
                  .where("status", "=", SessionStatus.ACTIVE)\

[2017-07-18 17:09] llaaiiqq opened #187 "SoftDeletes breaks where_exists queries"
My model class looks like this:
[code]

Executing the following query fails:
[code]

The stack trace:
[code]
I I remove the SoftDeletes mixin from the model, everything works fine.

[2017-07-24 15:05] tmzhuang commented on #167
How can you get Orator to show the query it is making on a function call?

[2017-07-26 15:37] UICJohn opened #188 "Postgresql Array Field Support"
Hi, currently I am trying to store the float array into my postgresql database. I didn't see any words about postgresql array field for migration in document.  I just wonder if this beautiful lib support postgresql array? : ) If not, do I have any way to get around it?

[2017-08-07 01:57] stefanthorpe opened #191 "Feature Request: Easy switch DB for testing"
Similar to Laravel I'd like to be able to specify a second DB for test and run migration against without running in a separate environment.

Other nice features of Laravel testing is the removal of data in the database before and after each test.

[2017-08-07 21:10] ulmentflam opened #192 "Best practices: What is the best way to overrid auto-incrementing ids"
I am looking for the best way to override id's on the base Model object when the object is created in order to use ids that are not auto incrementing or generated by a postgres function like uuids. My initial solution was to override using a base model and inherit from that base model, however when I attempt to insert multiple records new ids are not being created causing an Integrity error. My im

[2017-08-31 17:43] verdexy opened #195 "Attribute 'where' not found"
Hello. I've trying to work with Orator's models and have a trouble with where statements
`class Domain(Model):
    __table__ = 'domain'
    __timestamps__ = False
    __primary_key__ = 'id'
    __fillable__ = [
        'userid',
        'command',
        'time',
        'status',
        ]

domain = Domain()
domains = domain.with_('userid', 2).get().to_json()`
And the I get the following error:
*

[2017-09-01 10:23] stefanthorpe commented on #153
To avoid circular imports error, you can relocate the imports to the bottom of the file. This way the current model loads, before the import and when the import of the relation model occurs the requirements are already meet.

[2017-09-14 11:24] #166 closed

[2017-10-12 18:32] russell064 commented on #81
Any updates on this issue?  I ran into something similar where inserting a record adds "updated_at" and "created_at" columns to the SQL when I haven't used them in my models...

[2017-10-12 19:47] russell064 opened #197 ""created_at" and "updated_at" columns added to table when not specified in Model"
The following code defines a schema without using the ```.timestamps()``` method.  Despite this, the SQL code generated still includes those columns in the query when inserting records...

[code]

[2017-12-02 04:55] jarklee opened #202 "Use two more database in single project"
I want to use two mysql database in single project. How should I config orator to deal with that problem.

[2017-12-04 03:39] visonforcoding commented on #197
define model attr __timestamps__ = False
such as:
[code]

[2017-12-04 03:49] visonforcoding opened #203 "how to insert geo point data"
the native sql is
[code]

how to do it with orator

[2017-12-08 21:37] mattcl opened #204 "Is this still being maintained?"
We're re-evaluating our decision to use orator. Is this still being maintained?

[2017-12-10 22:56] jes5e commented on #204
I was just about to post the same question! I would like to use this for a new python project, but it doesn't look like there's been a commit for 6th months. Wondering if it's actively maintained?

[2017-12-11 06:55] jpventura commented on #204
@jes5e Seems like it is active because @sdispater recently updated [Pendulum](https://github.com/sdispater/pendulum) recently.

@mattcl, did you have any issue using [Orator](https://github.com/sdispater/orator)? I am starting the integration with other databases.

[2017-12-12 06:40] mattcl commented on #204
@jpventura Bug-wise, in the past the maintainers were pretty responsive. We have two outstanding issues (the nested transaction issue with postgresql and the infinite recursion related to soft-deletes). We've resorted to patching these locally for now. There were also some issues regarding the way we had to think about things, particularly coming from ActiveRecord. For instance, orator doesn't han

[2017-12-14 23:41] joaobarbosa commented on #204
@sdispater a word about it? 😅

[2017-12-15 00:33] bingtel opened #207 "`?` does not make sense"
when `results = db.select('select * from user where id = ?', [1])`  run, it turns out that:
`orator/connections/connection.py", line 341, in _try_again_if_caused_by_lost_connection
    raise QueryException(query, bindings, e)
orator.exceptions.query.QueryException: not all arguments converted during string formatting (SQL: select id, name from user where id = ? ([1]))
`

I have to change `?` into

[2017-12-15 12:21] bingtel commented on #204
it seems not maintained.  :(

[2017-12-18 10:48] sdispater commented on #204
Sorry for the lack of activity and input :-(

To reassure everyone: this project is not abandonned. It's just that I currently do not have a lot of time to spend on Orator. I am currently focusing my efforts on [pendulum](https://github.com/sdispater/pendulum) and its next major version before anything else.

However, I will try to triage the issues and make a bugfix release in the coming weeks. I

[2017-12-19 05:55] visonforcoding commented on #203
i do with execute_sql
[code]

[2017-12-19 05:55] #203 closed

[2017-12-19 18:34] augustoccesar opened #208 "ORM Transaction"
Hello! I'm using Orator and at a part of the code I need to create a model with a lot of relationships (they are created at this part too), but if one of them fail, I want all the other ones to be rolled back, but I can't find anywhere saying something about transactions while working with the ORM.

[2017-12-19 18:46] augustoccesar commented on #208
Could accomplish what I was expecting using:
[code]

[2017-12-19 18:46] #208 closed

[2017-12-20 13:17] augustoccesar opened #209 "Nested query with ORM"
I'm trying to query a nested object, but I'm having some strugle with it.

There are two ways that I found until now. One of them is:

[code]

which result in:

[code]

Other way that I found to accomplish the same thing is:

[code]

which result in

[code]

But I was expecting a simple way to produce something like:

[code]

I know that this is probably possible using the QueryBuilder, but would

[2017-12-25 04:59] luoxiaohei commented on #158
Hey guys,

I found if use `fetchmany` method  cursor will query all rows from server,  and save rows in memory.

`chunk` method already can't to avoid consuming RAM, the document will be need update.

[2018-01-07 16:22] yvonneFtMore commented on #163
I have met this error too. For now I don't have got a solution to fix it. How can you fix this error? I found that get this error when using the same api to create a record continually with different data.

[2018-01-08 07:02] jairojair commented on #202
Hi @jarklee

You check this section -> https://orator-orm.com/docs/0.9/basic_usage.html what's your question?

[2018-01-08 07:04] jairojair commented on #204
I'm using this project in production, It's Amazing!

Thanks u @sdispater !

[2018-01-11 11:21] ankii9600 opened #210 "Please resolve it or tell me away to resolve it as soon as possible"
![screenshot from 2018-01-11 15-55-13](https://user-images.githubusercontent.com/13003611/34823218-9fb4d43e-f6ef-11e7-9a0d-ae2c088c370a.png)

[2018-01-12 18:12] josephmancuso opened #211 "Set default max key length?"
Is there a way to set the default max key length for a database? Like how Laravel throws the (1071, 'Specified key was too long; max key length is 767 bytes') error?

`(1071, 'Specified key was too long; max key length is 767 bytes')`

https://github.com/josephmancuso/masonite/issues/49

I'd assume there'd be a way to maybe specify it in the config or as a parameter passed in the `db`?

[2018-01-12 18:33] david-sis opened #212 "Transactions Don't Work with MySQL"
The project looks promising, and I was trying to use it for a production web application, but it appears that transactions aren't working with MySQL. I'm using PyMySQL.

From documentation, the migrations should always use transactions unless transactional is set to False. However, the following migration will generate an SQL error, but the test table is still created. This completely breaks the m

[2018-01-22 11:37] ssi-anik opened #213 "Files are still created although it was showing error"
![screen shot 2018-01-22 at 5 35 28 pm](https://user-images.githubusercontent.com/2676602/35218968-d29edeea-ff9a-11e7-9ee3-ec5f8a768c0a.png)
It is still creating files under the migrations folder

[2018-01-22 12:13] ssi-anik commented on #111
![screen shot 2018-01-22 at 6 13 12 pm](https://user-images.githubusercontent.com/2676602/35220281-efb810e6-ff9f-11e7-9c11-960ba4cb1d76.png)
Still getting the issue

[2018-01-22 14:11] ssi-anik opened #214 "Error occurs if there is not `migrations` table"
![screen shot 2018-01-22 at 8 10 33 pm](https://user-images.githubusercontent.com/2676602/35224781-5c7493e8-ffb0-11e7-994c-7ed799dc7d94.png)

[2018-02-03 08:55] jychen7 commented on #214
@ssi-anik
`orator migrate` will auto create the `migrations` table, is it because you run `orator migrate:rollback` before `orator migarate`? looks like not a typical scenario.

[2018-02-03 08:57] jychen7 commented on #212
I don't think migration will use transaction. And it is suggested to separate to different migration files for different table

[2018-02-03 09:00] jychen7 commented on #211
agree, ActiveRecord has it
https://apidock.com/rails/ActiveRecord/ConnectionAdapters/SchemaStatements/add_index

[2018-02-03 09:08] jychen7 commented on #209
@augustoccesar is it this?
[code]

[2018-02-03 09:11] jychen7 commented on #186
https://orator-orm.com/docs/0.9/query_builder.html#parameter-grouping

[code]
The query above will produce the following SQL:
[code]

[2018-02-03 09:18] jychen7 commented on #167
@tmzhuang `query.to_sql()`

[2018-02-03 09:24] jychen7 commented on #204
yeah, also mention at https://github.com/sdispater/orator/issues/167

[2018-02-04 07:31] weirongxu commented on #212
AFAIK, MySQL transaction not support the DDL (data description language), but PostgreSQL supported.

[2018-02-04 18:32] ssi-anik commented on #214
Yes. So, shouldn't we check if there is any migrations table or not?

[2018-02-05 05:41] jychen7 commented on #214
true, it should check

[2018-02-05 07:02] nowind opened #215 "count function failed when dataset is empty"
File "/home/me/pyvenv/local/lib/python2.7/site-packages/orator/query/builder.py", line 1270, in count
    return int(self.aggregate('count', *columns))
TypeError: int() argument must be a string or a number, not 'NoneType'

this error.. self.aggregate return None??

[2018-02-05 07:04] nowind commented on #215
db.table(data['table']).where_raw(data['query']).order_by(order_by,order_des).group_by(cols[0])

[2018-02-05 11:25] augustoccesar commented on #209
@jychen7 Yes, it actually is that simple 😞 Thanks for the help!

[2018-02-05 11:25] #209 closed

[2018-02-15 03:55] GiovanniCardamone opened #216 "mysql support utf-8 mb4"
Hello, i need to store some string in `utf-8 mb4` encoding, i used the default method for Schema builder
`table.string('label')`

but when i try to store some date this is the error i got:
`orator.exceptions.query.QueryException: (1366, "Incorrect string value: '\\xF0\\x9F\\x8D\\x90' for column 'label' at row 1")`

the bytes ''\\xF0\\x9F\\x8D\\x90' is the 🍐 charater.

there is a way i can support

[2018-02-17 13:26] procaff3inator opened #218 "Losing connections on production"
Hi, we've been facing issues with orator on prod. After some debugging I found out that the errors raised by pymysql says 'Lost connection' and in the [source](https://github.com/sdispater/orator/blob/586cf6b69f9b69c257b75c7efa0e053b36eece96/orator/connections/connection.py#L348) there's a check for 'Lost Connection' (capital 'C').

This is probably the same issue as #210.

I have also seen a coup

[2018-02-17 13:29] procaff3inator commented on #210
For now using MySQLdb seems like an appropriate workaround.

[2018-02-27 05:07] brockf opened #219 "use_unicode throws error in psycopg2"
I attempted to use this `use_unicode: True` to disable unicode strings in my postgres connection. It appears to have worked fine on the orator side, but psycopg2 throws an error about an unknown configuration item. Perhaps it needs to be stripped from the configuration dictionary before being passed to psycopg2?

[2018-02-27 09:06] vitorluis opened #220 "Add support to Oracle Database"
Hello guys, first of all, thanks for this awesome ORM, its really easy to use!

I would like to know if we can add support to Oracle databases? Is there something which blocks the Oracle implementation?

Thanks

[2018-03-02 06:32] kirvesp opened #221 "Async support"
Will Orator have an async version for async drivers in future or it's mentioned to be only sync orm?

[2018-03-05 22:35] oscariusbow opened #222 "Select Random"
Hi,

There is a function to select data like orderByRand in php ?

[2018-03-09 04:46] seoyoungjin commented on #167
I guess it depends on destination relation.
1. has_many -> orator has_many_through
2. belongs_to -> orator belongs_to_many

I'm trying to port rails app to orator. My headache is...
3. has_one :as   -> ?
4. another has_many :through -> ?

[2018-03-16 10:23] seoyoungjin opened #224 "How to make custom relation?"
I'm migration from rails to orator. I met following relation that doesn't math orator relationships.
<pre>
countries
    id - integer
    name - string

users
    id - integer
    country_id - integer
    name - string

posts
    id - integer
    owner_id - integer
    owner_type - string
------------------------------------------------------
- In country
has_many: users
has_many: posts, :through

[2018-03-16 10:56] seoyoungjin commented on #224
Following is my db query.  How can I make this as relation or iinstace's property?
<pre>
clause = JoinClause('user').\
    on('posts.owner_id', '=', 'user.id'). \
    on('posts.owner_type', '=', 'SOME'). \
    where('user.country_id', '=',  3)

db.table('posts').join(clause).get()
</pre>

[2018-03-19 04:01] seoyoungjin commented on #224
I made following custom relation. Is there any clean method to define custom relations?
In larabel, I found following link. https://github.com/johnnyfreeman/laravel-custom-relation

<pre>
    @property
    def doodad_funcs(self):
        from orator.query.join_clause import JoinClause
        from . import DoodadFunc
        clause = JoinClause('doodad_func_loot_items').\
                on('dooda

[2018-03-20 15:57] lgphp opened #225 "about read and write configuration"
in accord to document config DB read and write get a error,  find out at `orator/connectors/connection_factory.py`  in
`
 def _get_read_write_config(self, config, type):

        if config.get(type, []):
            return random.choice(config[type])     #config[type] no list

        return config[type]

`
i overwirte it

`
 def _get_read_write_config(self, config, type):
        #修改判断条件

[2018-03-21 16:31] josephmancuso opened #226 "add support for multiple migration directories"
I'd like to have a way to break up migrations into multiple directories. This isn't very useful on it's own but I'd like to add third party packages that can be migrated with it's own migrations so I'd like to basically have my migration directory as normal but also add other directories with migrations in them to sort of "auto add migrations".

I got it sort of working by looping over all the dir

[2018-03-22 06:47] seoyoungjin opened #227 "distinct() lost after relation decorator"
Followings are my model and relation query and corresponding SQL.
With @has_many, DISTINCT is missed in SQL.
<pre>
    @has_many
    def buff_breakers(self):
        from .buff_breaker import BuffBreaker
        return (
            BuffBreaker
                .order_by('id', 'desc')
                .distinct()
        )
</pre>

<pre>

Executed ('SELECT DISTINCT * FROM "buff_breakers" WHERE "buff_

[2018-03-22 13:31] seoyoungjin commented on #227
Following patch solves this issue.
[code]

[2018-04-15 15:00] djfurman opened #228 "Migrations syntax mistated on docs page"
Hi, I think your project is awesome!

I love Laravel and have grown to love Eloquent as an ORM, but prefer python for development especially as I work more with serverless applications on AWS; so I couldn't be more excited seeing a pythonic Eloquent 💯

I found an issue in the [homepage](https://orator-orm.com/) docs as I'm working on my first real attempt at orator. I forked the repository, but th

[2018-04-17 11:29] finetuned89 opened #229 "UTC designation in iso8601 format should be "Z" not "+00:00""
-- Sorry, posted this in the wrong project --

[2018-04-17 11:31] #229 closed

[2018-04-17 21:02] josephmancuso commented on #227
How can I reproduce this? I have reproduced the has many relationships but how did you go about viewing the queries it generated?

[2018-04-17 21:08] josephmancuso commented on #221
Currently only synchronous. There are currently not plans to make it async. If you want to explore the codebase and make it possible to make it async (like adding a flag in the configuration file) then we can explore this issue further. Thanks!

[2018-04-17 21:08] #221 closed

[2018-04-17 21:10] josephmancuso commented on #220
All underlining ORM's (including Orator) has what is called a DBAL (database abstraction layer) which is designed to be a middleman between the ORM and the database. Adding support for other databases will entail creating a new DBAL. If you would like to explore the codebase a bit and open an issue about how you will implement this then we can explore this further. I'll add this issue to the roadm

[2018-04-17 21:12] josephmancuso commented on #219
Ok thanks I will look into this!

[2018-04-17 21:13] josephmancuso commented on #218
I'll look into this and accept one of the available PR's fixing this issue. Thanks for reporting!

[2018-04-17 21:14] josephmancuso commented on #216
What is your database information?

[2018-04-17 21:25] josephmancuso commented on #210
This is a duplicate issue for #218 so I'll close this.

[2018-04-17 21:25] #210 closed

[2018-04-17 21:29] josephmancuso commented on #167
@jychen7 I'll take a look into this and work on a fix

[2018-04-17 21:29] josephmancuso commented on #204
Closing because the question has been answered

[2018-04-17 21:29] #204 closed

[2018-04-17 21:32] josephmancuso commented on #202
Closing. Answer is here:
https://orator-orm.com/docs/0.9/basic_usage.html#accessing-connections

[2018-04-17 21:32] #202 closed

[2018-04-17 21:33] josephmancuso commented on #197
@raass-claat I'll take a look into this. I don't think it should create a timestamp on the table if you do not want one there during the migration

[2018-04-17 21:40] #192 closed

[2018-04-18 00:27] josephmancuso commented on #188
Orator does not currently support float arrays

[2018-04-18 00:27] #188 closed

[2018-04-18 00:38] #176 closed

[2018-04-18 14:46] josephmancuso commented on #222
@oscariusbow would a shuffle method do it for you?

[code]
?

[2018-04-18 18:11] ssi-anik commented on #213
Although it was showing error, it was creating the file in the background. I am not sure about that now. :(

[2018-04-18 20:57] #227 closed

[2018-04-18 21:30] josephmancuso commented on #224
Not really sure what you're asking here. Maybe you can explain more?

You can just specify another model to return:

[code]

[2018-04-18 21:31] josephmancuso commented on #218
Fixed and merged in #217

[2018-04-18 21:31] #218 closed

[2018-04-21 02:51] ulmentflam commented on #192
As a reference, the way I ended up extending the models to autogenerate ids is as follows:
[code]

Generating the ids this way allows the insertion of multiple records without creating unique key issues.

[2018-04-22 14:34] josephmancuso commented on #228
@djfurman yes I see that. I'm pretty sure that the home page is not in the docs. We'll get back to you on that.

@sdispater is the homepage somewhere specific? i.e specific to the documentation tool you are using maybe?

[2018-05-03 02:15] #224 closed

[2018-05-03 02:15] #220 closed

[2018-05-03 02:16] #213 closed

[2018-05-07 09:13] tuxknight opened #232 "How to set ROW_FORMAT=dynamic when creating schema?"
ERROR message 'Index column size too large. The maximum column size is 767 bytes.'
when running migration .
code:

[code]

MySQL Version: 5.6

After changing ROW_FORMAT to dynamic ,

[code]
adding unique of table works.

[code]

[2018-05-08 01:22] AnthraxisBR opened #233 "Error orator.exceptions.query.QueryException: (2013, 'Lost connection to MySQL server during query'"
I'm using that package in my local enviroment, but when using gcloud sdk to deploy this app in the cloud, for the first time every looks like ok, but after some time without no connection i'm come to take de following error:

[code]
Resuming, I cannot connect again, unless I made a new deploy,

I'm using flask ,but without flask-orator, and in the last stable version 0.9.7.

I alread have seen de

[2018-05-08 01:27] josephmancuso commented on #233
This may have been fixed. We recently made changes to a connection issue. Can you try to pip install from the 0.9 branch on this repo and see if that fixes the problem?

[2018-05-08 10:40] tuxknight commented on #232
problem solved. thank you.

[2018-05-08 10:40] #232 closed

[2018-05-17 15:38] tuxknight opened #234 "AttributeError: 'NoneType' object has no attribute 'autocommit'"
Using gunicorn as wsgi server will produce this exception after a few requests  to the same API(/user/add) than received normal response.
And every request will produce this exception  after a lot requests.

Other APIs are working properly from beginning. Only that API always crash.

I could not figure out why self._connection became a None. But  add a reconnect action ``self._reconnect_if_missing

[2018-05-18 07:38] robinchew commented on #212
Doesn't seem to work with sqlite either

[2018-05-22 03:51] vafrcor commented on #164
You can search throught Orator ORM source-code.
I have found `model.is_dirty(attribute_name)` method. You can try this method on your model-observer class.

[2018-05-24 01:55] JahangerGull opened #236 "creating schema, if table name is having schema in it"
Hi

Following code is getting failed as the schema "test" does not exist:

[code]

Is there any other way to define/create the DB schema before running the actual query?

Thanks

[2018-05-24 01:56] josephmancuso commented on #236
Are you talking about creating the actual database?

[2018-05-24 01:59] JahangerGull commented on #236
Not a DB, just creating a new schema in DB. I don't want the tables to be added to the public schema.

Is there any other way around we can run customer queries in the migrations? something like this in the migration file.

[code]

Thanks

[2018-05-24 02:04] josephmancuso commented on #236
ah I see. for Postgres. umm i don't think so honestly but I wouldn't be surprised if there is but it's undocumented. There are a few things that aren't documented well. Let me check codebase

[2018-05-24 02:07] JahangerGull commented on #236
Ok, looking into the code, I got following way to create the schema:

`self.db.statement("create schema test")`

Its sufficient for now, and can go ahead.

Thanks for a quick reply.

[2018-05-24 02:09] josephmancuso commented on #236
great can you post the whole code snippet so others can follow along?

[2018-05-24 02:12] JahangerGull commented on #236
Scenario: To have some custom query in your migration, or creating a DB schema so tables can go within that:

[code]

Thanks

[2018-05-24 02:12] #236 closed

[2018-05-24 23:40] JahangerGull opened #237 "Model building with different databases"
Hi

I am building an API, and it can communicate with 2 Databases, and for that in my projected inherited my models from different Model. But whats happening is that previous Model configuration gets overwrite with the next one.

For e.g, this is how I tried to do

[code]
Now when I inherit my models from DB_Model and DW_Model only DW_Model settings will be available for moth Models configurations

[2018-05-24 23:56] josephmancuso commented on #237
You should set multiple configurations into a single config dictionary

[code]

and then adjust the connection on your model:

Possibly something like:

[code]

I believe that is the way to do it

[2018-05-24 23:57] josephmancuso commented on #237
refer to this: https://orator-orm.com/docs/0.9/orm.html#defining-a-model and the blue info box under neath one of the code samples

[2018-05-25 01:51] tonyzhangcn opened #238 "Weird error when loading Model classes, [Possible Bug?]"
Hi,
I'm trying to access an attribute of another Model (Say Model b) within my current Model with the relationship setting. But it gives me an error saying that the class b was not found, the reality is that they are at the same module and I imported the whole Model class. I tried in some way to find the root cause but not succeed, is that a possible bug? Or I'm using it in a wrong way? It's very

[2018-05-25 01:58] josephmancuso commented on #238
hmm.. the LotteryConfig class is not defined?

What happens when you do:

[code]

does it print the class?

[2018-05-25 02:26] tonyzhangcn commented on #153
Same issue for me. Even though the solution provide here can solve the problem, but the solution makes the code 'ugly', there should be a more clean way. But thanks anyway!

[2018-05-25 02:27] josephmancuso commented on #153
@tonyzhangcn the issue is how Python imports. There really can't be a better way than moving the imports into the method

[2018-05-25 19:17] rohalla2 opened #239 "Auto-Incrementing column that is not a primary key"
I am looking to create a table that has an auto-incrementing integer that is not a primary key:
[code]

In this example I want `record_id` to be my primary key and `contributor_id` to be auto-incrementing but NOT a primary key. When I run this as a migration using Postgres for my DB I get the following error:
[code]
Removing the `contributor_id` column results in the migration being successfully r

[2018-05-25 19:21] josephmancuso commented on #239
yeah i'm pretty sure tables are not allowed to have multiple primary keys.

I've never actually used this but does this work?:

[code]

?

[2018-05-25 19:26] josephmancuso commented on #239
is `table.primary()` even a thing? where did you get that from?

[2018-05-25 19:28] rohalla2 commented on #239
I found `table.primary()` in the docs [here](https://orator-orm.com/docs/0.9/schema_builder.html#adding-indexes)

[2018-05-25 19:29] rohalla2 commented on #239
Using `table.string('record_id').primary()` produces the same error.

[2018-05-25 19:30] josephmancuso commented on #239
i don't think you can have a non primary auto incrementing ID

[2018-05-25 19:32] josephmancuso commented on #239
you'd have to maintain it yourself i think

[2018-05-25 19:34] josephmancuso commented on #239
I think you'd have to do use the `increment('contributor_id', 1)` method

[2018-05-26 08:04] tonyzhangcn commented on #238
Hi, josephmancuso
Thank you for the quick reply. Actually the class is already defined and it worked well itself. I worked when I change my code to below. It seems a circular import between these two Models, because set the relationshiop LotteryConfig has many LotteryPlay and in the LotteryPlay I set it belongs to LotteryConfig, which seems to the root cause.
[code]

[2018-05-26 11:36] josephmancuso commented on #238
Ah ok awesome.

[2018-05-26 11:36] #238 closed

[2018-05-27 07:03] tonyzhangcn commented on #153
@josephmancuso thank you, the lucky thing is that the problem was solved :)

[2018-05-27 21:19] JahangerGull commented on #237
Perfect, this is what I was looking for.

Thanks

[2018-05-27 21:19] #237 closed

[2018-05-30 01:08] laith43d opened #240 "Relationship querying does not work [Orator 0.9.7]"
I have a basic setup,
Survey -> has_many Questions

Question -> has_many Choice
Question -> belongs_to Survey

Choice -> belongs_to Question

DB migrations and relationships are set up, as usual, however when I am trying to query relationships, I am getting the following error:

`if not isinstance(related, basestring) and issubclass(related, Model):
TypeError: issubclass() arg 1 must be a class`

[2018-05-30 01:12] laith43d commented on #240
Full traceback log:

`
Traceback (most recent call last):
  File "/Users/lzah/MEGA/PycharmProjects/juju-survey/venv/lib/python3.6/site-packages/flask/app.py", line 2309, in __call__
    return self.wsgi_app(environ, start_response)
  File "/Users/lzah/MEGA/PycharmProjects/juju-survey/venv/lib/python3.6/site-packages/flask/app.py", line 2295, in wsgi_app
    response = self.handle_exception(e)
  Fi

[2018-05-30 01:39] josephmancuso commented on #240
what line is actually triggering the error? is it the Survey.find()? or the line inside the print statement

[2018-05-30 01:42] josephmancuso commented on #240
I'm wondering if the relationship isn't a class then what the heck is it?

when you do `from models import Question` what happens when you do `print(Question)` right under it?

[code]

does that print something like `<class models.Question>` or `<module models.Question>`. I have a sneaky suspicion that it might be a module maybe? Because this works in my application find

[2018-05-31 02:10] jiahut commented on #175
@sdispater Can do some reply ?

[2018-05-31 03:42] laith43d commented on #240
I have imported them in the __init__.py file, the results show:
`<class 'models.Survey.Survey'>`

[2018-05-31 03:43] laith43d commented on #240
By the way, the exact same configuration works perfectly fine for SQLAlchemy!

[2018-06-04 21:55] rohalla2 commented on #54
@sdispater Is there any chance this is in the pipeline to be implemented?

[2018-06-06 10:19] ranit-geek opened #242 "will orator close db connection automatically after executing one line"
hi,
I wanted to know is there auto db connection close possible after my db operation is over in orator?

[2018-06-06 13:46] josephmancuso commented on #242
Yes orator handles opening and closing of all database connections internally

[2018-06-06 14:04] ranit-geek commented on #242
I have given DB config  in
` db = DatabaseManager(config)`

so for example say if I am executing this line:
`results = db.select('select * from users where id = ?', [1])
`
will the db connection get closed after executing this line?

[2018-06-06 14:09] josephmancuso commented on #242
Yes. You can view open connections in your database. If it is not disconnecting then open an issue please

[2018-06-06 14:12] ranit-geek commented on #242
sure Thanks for the info 👍 -)

[2018-06-06 14:12] #242 closed

[2018-06-09 06:18] laith43d commented on #240
Yes, actually that helps a lot.

The problem was not with the naming of the files nor the imports, the problem was with the two-way relationship reference, as soon as I removed the backward reference with @belongs_to I got it right.

Thanks for the help @finetuned89

[2018-06-09 11:51] #240 closed

[2018-06-18 12:32] loreilei opened #243 "Do not suggest to use orator.py configuration file for migrations"
Hello,

I am new to Orator: I wanted to setup Orator with SQLite for a small project.
When I arrived to migration, I read in the documentation:

I choose to use the orator.py variant. Once I set up this file, migration was working and I kept moving on my project.
However, when I launched my application, I got messages like:

  File "test_orator.py", line 3, in <module>
    from orator import Model

[2018-06-18 12:44] josephmancuso commented on #243
yeah this shouldn't work lol. If you put an orator.py module in your project it will break. Not sure how that made it to the documentation and tested. Can you point where it is showing this and i'll try to get around to fixing it

[2018-06-18 12:47] loreilei commented on #243
It took me a while to figure out why I got these import errors while it worked before my migration ^^'
I read that on this page: https://orator-orm.com/docs/0.9/migrations.html
In the paragraph where database configuration file is explained.

[2018-06-24 15:47] jychen7 commented on #167
@josephmancuso need helper?

[![Open Source Helpers](https://www.codetriage.com/sdispater/orator/badges/users.svg)](https://www.codetriage.com/sdispater/orator)

[2018-06-26 09:02] tonyzhangcn commented on #216
I met the same problem but solved by adding "'charset': 'utf8mb4'," to the orator config file and set the mysql table to default encoding of utf8mb4.

[2018-07-01 08:45] jychen7 commented on #243
In out project, we use `orator.py` in migrations, but we didn't use the ORM feature.
I think that's why it is good here.

[2018-07-01 08:51] jychen7 opened #245 "Feature: "change" in migration files"
additional to `def up(self):` and `def down(self):`, it would be nicer to have `def change(self):`, which we don't need to repeatedly write `down` for each `up`. Because most `down` can be "guess" from the `up`.

reference: http://edgeguides.rubyonrails.org/active_record_migrations.html#migration-overview

[2018-07-01 12:50] josephmancuso commented on #245
I don't get it. You want 3 methods in the migration file? Or you want 1 method called change instead of 2 methods: up and down?

[2018-07-01 13:32] jychen7 commented on #245
one `change`, thx

[2018-07-01 13:34] josephmancuso commented on #245
I feel like that is adding a feature without adding any value, right? How would that improve orator to have 1 function instead of 2?

[2018-07-01 15:50] jychen7 commented on #245
I agree that people can write in this way

[code]

but if orator provides following way, I think people can be happier
[code]

first, code is shorter. we don't "repeat" ourselves.
second, it may help people to avoid mistake in `down`, e.g. add some column in `up` but forgot to include it in `down`

for example
[code]

[2018-07-01 17:30] josephmancuso commented on #245
Also it might be better to not "repeat" ourselves but it's also not good to do things implicitly. I'm open to suggestions though. maybe i'm not see it from the right angle.

Maybe @sdispater can throw his input

[2018-07-02 02:41] jychen7 commented on #245
sure, it is just a suggestion

[2018-07-04 02:45] tonyzhangcn opened #246 "Is there anyway I can physically delete a row even if the model is set to softdelete?"
Hi,
I have a model which inherited from SoftDelete, in most cases I need it to be soft delete but in some rare cases I need it to be deleted physically, I tried the force_delete() but it worked the same as delete, not solving my problem. Any idea is appreciated!

[2018-07-04 11:49] josephmancuso commented on #246
force delete should delete it permanently for your use case. I'll test this out sometime today or tomorrow and verify that it's working properly

[2018-07-07 04:06] tonyzhangcn commented on #246
Thanks for the quick reply!

[2018-07-22 21:16] JahangerGull opened #247 "orator.exceptions.query.QueryException: connection already closed"
Hi

I am using orator db.connection to make an insert query, it works fine but after a while, it starts throwing "connection already closed" exception.

I dig out some code, and it looks like there are some string matching to find out the possible exception so it can reconnect in the following code:

https://github.com/sdispater/orator/blob/23daa78892ff5d1db8111bba098452248abc7ee4/orator/connectio

[2018-08-18 01:32] crd opened #250 "Faker is improperly listed as a dependency when it should be a dev dependency only"
I'm using orator and Faker in a project and am unable to upgrade faker due to an unnecessary dependency of orator:

[code]

[2018-09-02 03:01] dapicester commented on #207
I just bumped into this while using `where_raw`.
For example, instead of:
[code]
one has to write:
[code]

[2018-09-07 10:25] Flupster opened #252 "Model chunk uses "select * from table""
I have a table with > 10m rows so this fills the ram then fails

Also could not find any cursor options in the docs unless i'm blind?

[2018-09-07 12:03] josephmancuso commented on #252
`chunk` is ran on the collection that is returned from the result, not the query itself

[2018-09-07 12:07] josephmancuso commented on #252
I'll need to see the code you are using but you might be after something like:

[code]

[2018-09-07 13:06] Flupster commented on #252
This is what I feared, how would you go about iterating over a 10million row table?

I've created a workaround myself but looking for best practices

[code]

I'm pretty sure Laravels Eloquent pulls the rows dynamically rather than all then iterate

[2018-09-07 13:57] josephmancuso commented on #252
are you trying to create a generator here?

[2018-09-07 13:57] josephmancuso commented on #252
are you saying you don't want to store 10M rows in memory?

[2018-09-07 13:58] josephmancuso commented on #252
or you don't want to fetch all 10M rows from the database?

[2018-09-10 14:38] josephmancuso commented on #252
Is there anyway I can get a copy of a 10M row database? I'm wondering if a generator would work here

[2018-09-10 17:34] gilvan-reis-meliuz commented on #54
@sdispater at least a comment in the docs should be added, because I wasted a lot of time trying make this feature work.

I created a id field (only to pass) and use the composite key with the unique

[2018-09-10 17:37] claygorman opened #253 "Installing from source on 0.9 branch"
`-e git+https://github.com/sdispater/orator.git@0.9#egg=orator` does not work due to setup.py missing. 0.8 and develop both have files 0.9 does not.

@josephmancuso I was hoping you had a solution for this? I am trying to install from source because after a day or so I get connection errors. Restarting the container fixes my issue. I will link issue below.

https://github.com/sdispater/orator/issu

[2018-09-10 18:58] josephmancuso commented on #253
you're using poetry for dependency management, correct?

[2018-09-10 19:11] Flupster commented on #252
I'd prefer not to send a 4GB sql file, not only would it take forever to import but it's just way easier to generate a new table and seed it with data?

Doesn't Orator support seeding?

[2018-09-10 19:12] claygorman commented on #253
I tried pip and pipenv. Poetry is required to install from 0.9 branch?

[2018-09-11 01:17] josephmancuso commented on #253
I also use Pipenv but I remember an earlier version of Poetry being able to build a setup.py file if I remember correctly but I can't find it anymore .. :thinking:

[2018-09-11 01:29] josephmancuso commented on #252
have you tried using a generator?

def func():
    yield Model.all().chunk(2)

this won't load all 10M rows into memory since it's a generator

[2018-09-11 02:30] josephmancuso commented on #54
https://github.com/orator-orm/docs

[2018-09-11 06:45] sreenadh opened #254 "AttributeError: 'Car' object has no attribute 'name'"
c = Car()
print c.name

AttributeError: 'Car' object has no attribute 'name'

[2018-09-12 07:39] ikudriavtsev opened #255 "AttributeError: set_timestamps_on_attach"
Calling `update_existing_pivot` on `belongs_to_many` relation fails with an attribute error:
[code]

Also, it seems that `set_timestamps_on_attach` is not implemented anywhere in the project - I just did a quick search in the Github repo.

[2018-09-17 03:36] josephmancuso commented on #252
hmm idk. Try

[code]

[2018-09-17 03:43] josephmancuso commented on #252
unless you said you tried that already? If the above code snippet doesn't work then Im not sure orator supports what you are trying to do

[2018-09-17 13:29] sreenadh commented on #254
@jairojair
Model "Car" has the following attributes
id, name

What I wanted is,
in Controller
model = Car()

and use the following in Kajiki template
<input type='text' value='${model.name}'/>

But it is giving the error.

[2018-09-17 13:32] josephmancuso commented on #254
you need to do a lookup. A model doesn't have an attribute. Active record style ORMS add attribute after it is fetched from the table (using the table schema.)

You need something like

[code]

[2018-09-17 13:33] sreenadh commented on #254
Can't we read the schema and create attributes on __init__() @josephmancuso

[2018-09-17 13:35] josephmancuso commented on #254
I mean, you COULD but why would you?

what are you expecting `.name` to be?

[code]

how does it know the name of the car? you need to fetch the record first from the database in order to know the name of the car.

what are you trying to do?

[2018-09-17 13:35] sreenadh commented on #254
Can we do this?

[code]

[2018-09-17 13:38] sreenadh commented on #254
@josephmancuso  I am trying to create a form using the model. if it is
model = Car.find(1)
on update(self, id):

it will fill the text box with the value from the DB.
if it is a new model. empty textbox.

On submission, post data after validation is mapped to attributes of the model and save()

[2018-09-17 13:41] josephmancuso commented on #254
you would need to do this for a new record:

[code]

boom. Now you have a new record. For a new record, don't worry about the attributes not being set before hand. Orator will take care of that. The above code will work. For updating do:

[code]

[2018-09-17 19:52] sdispater commented on #252
`all()` will execute a `SELECT * FROM table` and return a `Collection` object.

What you want is actually:

[code]

See the documentation: https://orator-orm.com/docs/0.9/orm.html#chunking-results and https://orator-orm.com/docs/0.9/query_builder.html#chunking-results-from-a-table

[2018-09-18 07:22] tonyzhangcn opened #256 "How can I remove the added observer"
Hello,
I'm using the observer to trigger the recording of the changes that made to the Model, but once an observer added to the Model and in the same thread it's seems to me that I cannot delete it or replace it with another, it just becomes adding more and more observers. I checked the source code and the docs but did not find any glue, is there anyone can help on this? Thank you!

[2018-09-18 10:15] Flupster commented on #252
We've gone full circle

[code]

this runs a SELECT * FROM characters, once again loading all 10m rows into memory before chunking

[2018-09-18 13:56] jairojair commented on #254
@sreenadh the @josephmancuso tips solve your issue?

[2018-09-18 14:00] #254 closed

[2018-09-18 14:10] josephmancuso commented on #252
but you are incorrect because that returns a generator. Generators do not load everything into memory. *They pull results as they are needed*. That is why they are called generators because they generate the results as they are needed.

this code section:

[code]

does not load 10M rows into memory. It pulls 10M rows from the database but stores it in a generator which is not stored in memory.

ht

[2018-09-19 07:28] Flupster commented on #252
You can close this if you what, but as it stands the chunk helper is absolutely useless, you say it doesn't get stored in memory which is insane that you even think that

https://i.imgur.com/g1XFWx8.png

You need to re implement chunking or a cursor for ways to iterate over a database WITHOUT consuming the entire table to memory, it took 5 minutes to get that screenshot, if we did this in laravel

[2018-09-19 12:28] josephmancuso commented on #252
a generator doesn't necessarily store anything (relatively) into memory. Storing something like the results of 52! takes up like 500 bytes of memory. The problem here might be that **getting those values into the generator in the first place is taking up a lot of memory**. Any problems can likely be solved in here https://github.com/sdispater/orator/blob/68266dd62b795a34c85843dd902883ff7fc50d93/or

[2018-09-19 15:06] sdispater commented on #252
@Flupster Orator is already using cursors and the `fetchmany()` method when using `chunk()`.

https://github.com/sdispater/orator/blob/0.9/orator/query/builder.py#L1163

https://github.com/sdispater/orator/blob/0.9/orator/connections/connection.py#L221

So, I am not sure what's going on here.

And unless I missed it we are missing a critical piece of information here: what is the RDBM you are usin

[2018-09-26 11:51] keinagae opened #257 "Orator bundling with pyinstaller error"
When i tried to bundle oretor with pyinstall it givess me facker not found error when i try to run app after bundling

[2018-09-30 13:00] Spawn opened #258 "orator.exceptions.query.QueryException: (2013, 'Lost connection to MySQL server during query')"
Hi all. Here is an exception:

[code]

[2018-09-30 13:12] Spawn commented on #258
And yes, that's because
[code]

[2018-09-30 16:00] psincraian commented on #117
Is there any news about this?

[2018-10-03 03:42] inventionlabsSydney opened #259 "Develop branch seriously behind."
Hey guys,

I'm trying to do some additions and just wondering why develop branch is so far behind and what sort of branching model you're running with?

Let me know,
Karl.

[2018-10-03 13:21] inventionlabsSydney commented on #127
I know it's a rough start but for use in my internal projects I implemented postgres uuid and overrode default to detect a gen_random_uuid() and not encapsulate it as a string. You can see the branch here: https://github.com/inventionlabsSydney/orator/tree/feature/PostgresGrammarSupportUuid

I'd like @sdispater if you could provide me a list of things to do in order that we could merge this suppor

[2018-10-03 17:02] hammacktony opened #260 "Issues with specifying connections for ORM"
I have trouble with orator managing different models that have different DB connections. The mysql driver has no issues, but the postgres driver requires me to refresh a lot to have it displayed. I have 8 models that have one connection (postgres) and 2 models that use a different connection (mysql). I think it is because of Orator looking for a default connection key.

[2018-10-04 00:08] hammacktony commented on #260
[code]

This configuration works. One of the connections had to be "default". I tried a different name with this connection and it failed. I had to refresh a MILLION times before the page loaded correctly.

[2018-10-07 14:34] psincraian opened #262 "Paginate bug: not all arguments converted during string formatting"
Hi there,

I have a problem paginating queries that uses a where and an order_by_raw expression. For example the following query does not work:
[code]

The traceback is the following:
[code]

The problem is that the bindings from the order function are not removed and the python interpreter crashes.

[2018-10-07 14:44] psincraian commented on #262
I would like to do a PR to solve this issue, I took a look at the code and a possible solution would be to backup the bindings, something like:

[code]

Maybe there is a better approach to solve this issue, I would like you to guide me a little to solve it well :blush:

Finally, I would like to say that I love the project.

[2018-10-10 17:57] zehauser opened #263 "Mutators can't be inherited"
It appears that mutators can't be inherited from superclasses. I.E. something like this doesn't work:

[code]

This seems to be because `Model.has_set_mutator` effectively checks `self._mutator_cache[self.class]`... in other words, it only checks for mutators belonging to the bottom-most class in the class hierarchy.

This behavior is fixed with a patch like this (note: just to illustrate... I'm n

[2018-10-19 15:53] #262 closed

[2018-10-19 16:00] psincraian commented on #253
I have the same problem... I cannot build orator from source

[code]

[2018-10-20 09:55] psincraian commented on #250
Currently Faker its used in the `orm/factory.py`, maybe there will be another places

[2018-10-21 10:05] msyagli opened #266 "MySQL Read - Write config problem"
I am using autossh tunneling between DB servers and application servers. Connection works without read/write options. But when I use read/write options in the config, it generates the following error. Is there anyone can guide me? Thanks.

My config example:
[code]
Here it is the error:
[code]

[2018-10-21 13:39] josephmancuso commented on #266
What is the exception? I only see a stack trace there

[2018-10-21 15:20] msyagli commented on #266
Ahh sorry, my bad.

`
Exception(most recent call last)

AttributeError: type object 'Video' has no attribute 'where'
  File "orator/orm/model.py", line 57, in __getattr__
    return type.__getattribute__(cls, item)

AttributeError: type object 'Model' has no attribute 'boot_model'
  File "orator/orm/model.py", line 57, in __getattr__
    return type.__getattribute__(cls, item)
`

[2018-10-22 13:16] gilvan-reis-meliuz commented on #180
@sdispater any news about this issue?

[2018-10-24 11:18] ghwilliam opened #267 "A way to specify max connections"

[2018-10-24 18:19] adamloving opened #268 "Link to docs in README.rst is broken"
The link to http://orator-orm.com/docs in the read me redirects to https://orator-orm.com/docs/0.9/ wich is giving me "ERR_CONTENT_DECODING_FAILED" in Chrome

[2018-10-24 23:32] adamloving commented on #268
Would love to help improve the content for the documentation, where can I find it?

[2018-11-02 10:48] mickyginger opened #269 "Add validation API"
Coming from a Ruby background, I love the ORM API and how similar it is to ActiveRecord. I would love to see a validation API with `required` and `uniqueness` and the like.

I'm new to Python but would happily attempt a PR if you could point me in the right direction.

[2018-11-08 19:02] zehauser commented on #263
@josephmancuso Hey Joseph! Sorry for tagging you — I have no doubt that you're very busy and have a lot on your plate. And I appreciate that you are doing a public service by having taken on effective maintainership of `orator` in the first place. I am not going to claim that this particular Github issue should be anywhere near the top of your priority list.

But I'm hoping that you can find a few

[2018-11-10 20:31] florimondmanca opened #270 "Add call to action to docs site home page"
Hi,

The docs site for Orator ORM is, indeed, beautiful.

I'm just thinking it misses a call to action button on the landing page, something like "Get started" or "Read the docs".

Not sure if this is the place to discuss the docs site — I haven't found its repo, but if there's one I'd be happy to transfer the issue over there!

[2018-11-13 06:32] zehauser commented on #263
@sdispater I know you're very busy with a variety of projects, but if you have a few minutes, it would be truly appreciated if you could comment on this.

[2018-11-13 13:27] #233 closed, assigned to nobody

[2018-11-13 13:36] josephmancuso commented on #263
very busy :) umm yeah if you can fix this issue then I will checkout the PR. Try to write some tests as well. Most things should be able to be inherited like this.

[2018-11-13 13:42] josephmancuso commented on #270
It's a little hidden https://github.com/orator-orm/docs :)

[2018-11-17 22:21] josephmancuso commented on #250
@psincraian is correct. I am pretty sure there are dependencies outside of just tests that require Faker.

[2018-11-17 22:21] #250 closed

[2018-11-17 22:27] #234 closed

[2018-11-17 22:27] josephmancuso commented on #234
merged PR fixing this isssue

[2018-11-17 23:01] #187 closed

[2018-11-20 08:11] bjorntheart commented on #127
👍

[2018-11-21 08:17] robertmylne opened #271 "first_or_create not returning complete model"
[code]

In the table `search` there is a column `complete` set to `0` as default.

When the `first_or_create` method does a `first` the `complete` field is present.

When it does a `create` the returned model does not know about the `complete` field from the database. Is there a way to refresh the model so it actually gets the full record it creates in the database?

[2018-11-21 13:14] josephmancuso commented on #271
interesting I will look into this. I am trying to learn the Orator codebase so I can officially take it over. This is a good issue to look into

[2018-11-22 20:13] JosXa opened #272 "Connection strings for setup"
Apart from using a dict for configuration values, is it also possible to use a default connection string for setting up the `DatabaseManager`? Reasoning is that in many PaaS environments such as Heroku, you will get the connection string injected as an environment variable into your application, and libs such as Peewee or SQLAlchemy even support proxying on the provided string to defer the type of

[2018-11-22 22:01] JosXa commented on #113
Same here, just trying out the library coming from a Peewee background and wondering if there are any plans to make Orator asynchronous

[2018-11-23 08:47] lighth7015 opened #273 "orator.exceptions.query.QueryException: missing FROM-clause entry for table "account""
When executing the query,

[code]

I receive the following error:
[code]

What could cause this error to happen?

[2018-11-23 14:54] josephmancuso commented on #113
@mitchfriedman @JosXa Out of curiosity and as someone not familiar with exactly what parts would be asyncio, what are you thinking to make asynchronous? Is it just saving models asynchronously?

[2018-11-23 14:55] josephmancuso commented on #273
you are trying to get the `account.id` table. You don't have an `account` table. I think this should be `accounts.id`.

[2018-11-23 14:55] #273 closed

[2018-11-23 23:27] lighth7015 opened #274 "transforming SQL query into Orator query"
Hello,
I was wondering what the following query would look like as an Orator query,

[code]

Thanks!

[2018-11-24 23:49] #274 closed

[2018-11-24 23:49] lighth7015 commented on #274
Nevermind, I have a different issue now! I'll open a new ticket, Thanks!

[2018-11-24 23:52] lighth7015 opened #275 "SQL Subquery"
Good evening,

I am trying to get a sub-query working, however I'm not quite sure how.

[code]

yields me the following error:
[code]

Why would this be happening?
Thank you!

[2018-11-25 19:13] lighth7015 commented on #275
What would that look like with relationships?

[2018-11-25 19:43] lighth7015 commented on #275
I'm looking to retrieve a list of accounts whos' most recent ledger (account_ledger) is successful (account_ledger.successful)

[2018-11-26 19:40] mitchfriedman commented on #113
I'm not sure exactly what is needed to be changed to make this compatible with asyncio, but yeah anytime an IO operation (in this case, not just saving, but all calls to the DB - connection creation/resume/termination, all queries, etc) need to yield execution to the event loop.

[2018-12-05 09:39] tonyzhangcn opened #276 "Does orator DatabaseManager supports SSH tunnel?"
Hello,
The database I'm going to connect is behind a jump server, I need to SSH to that jump server first and then connecting to the DB. Want to check whether the latest version of orator DatabaseManager supports that? Or is there any work around to do that? Thanks!

[2018-12-05 16:53] josephmancuso commented on #276
Sadly it does not. Possibly this issue may help: https://stackoverflow.com/questions/25495364/laravel-mysql-db-connection-with-ssh

May need to setup a tunnel on your production server to the other database server.

[2018-12-05 16:53] #276 closed

[2018-12-06 04:58] josephmancuso commented on #271
after doing more research into this, This is intentional. reason being that this is a small use case to add to the core library and it will add an additional query every time you create a new model. which is not good. In cased like these you have 2 options:

Option 1: If you know the default, specify the default when you create the record:

[code]

Option 2:

Create a some refill logic like this:

[2018-12-06 04:58] #271 closed

[2018-12-06 08:35] tonyzhangcn commented on #276
thank you for the information :)

[2018-12-06 11:01] luoxiaohei commented on #266
@josephmancuso document for [read-write-connections](https://orator-orm.com/docs/0.9/basic_usage.html#read-write-connections) is wrong.

The `_get_read_write_config` function use `random.choice` to choice a config, it can't working with dict.

https://github.com/sdispater/orator/blob/bd90bf198ee897751848f9a92e49d18e60a74136/orator/connectors/connection_factory.py#L63-L65

The correct configuration

[2018-12-06 14:17] #270 closed

[2018-12-06 14:19] josephmancuso commented on #269
I want to say that validation should be taken from an external library or a framework to be used with Orator. That's really what orator would do anyway.

If you are used to ruby and love Orator you should try [Masonite](https://github.com/masoniteframework/masonite)

[2018-12-11 22:08] jrideout opened #277 "Upgrade to pendulum 2.x"

[2018-12-14 21:01] jairojair commented on #272
hi @JosXa  :)

You can try use that -> pip install py-database-url

[code]

py_database_url will get the default DATABASE_URL env var.

[2019-01-09 09:53] paulyim opened #278 "How cal i get table column name from Model Class ?"

[2019-01-09 14:06] josephmancuso commented on #278
You can find an example here: https://github.com/MasoniteFramework/core/blob/2.1/masonite/commands/ModelDocstringCommand.py#L16

[2019-01-09 14:06] #278 closed

[2019-01-11 09:57] N-Wouda opened #279 "Comment strings on tables and columns"
I know this [is available for Postgres](https://www.postgresql.org/docs/current/sql-comment.html), but I'd have to investigate this for other SQL flavours.

My use-case is the following: I'm integrating three data sets for a research project, where the final database should have extensive documentation. Part of that lives stand-alone, but it'd be ideal if I could also add short explanation strings

[2019-01-11 10:01] N-Wouda opened #280 "Feature request: geodata (PostGIS)"
I work with a lot of spatial data, that I'd like to store in my Postgres (+ PostGIS) database. Now, I already use Orator migrations for most of our database versioning and have been very pleased with it so far. I'd like to extend it to also cover the spatial columns, but I do not think this is in the ORM yet. Ideally this might cover queries as well, but for now I'd be very pleased with just the s

[2019-01-17 14:31] rfschubert opened #281 ".change() on enum field not working on Postgres"
I tried run this migration:

[code]

but not happens. The field is not updated, the migration runs normally but the new option is not being added to it

[2019-01-19 00:41] GrahamMThomas opened #282 "Not compatible with mysqlclient > 1.4.0"
Here is the error I was presented with

[code]

Need some guardrail to ensure a proper mysqlclient version is installed.

[2019-01-19 00:47] josephmancuso commented on #282
@sdispater

[2019-01-23 17:55] ar45 opened #283 "connection context manager causes a TypeError"
Following line results in a `TypeError: exceptions must derive from BaseException`

https://github.com/sdispater/orator/blob/bd90bf198ee897751848f9a92e49d18e60a74136/orator/connections/connection.py#L567

Isn't this suppose to just return `False` ?

https://docs.python.org/3/reference/datamodel.html#object.__exit__ states

Exit the runtime context related to this object. The parameters describe th

[2019-01-29 03:54] fangzheng0518 opened #284 "TypeError: not all arguments converted during string formatting"
I used orator 0.9.8 and Python version 3.7
When I try to insert data, I get the following exception

#### python code
[code]
#### exception info
[code]

[2019-02-04 14:01] kentaro0919 commented on #277
HI! I am interested in this. How can I help?

[2019-02-04 14:02] josephmancuso commented on #277
best way would be to get orator running locally with all tests passing, then upgrade pendulum to version 2 and rerun tests. Things should break. Then look inside code and make fix all pendulum related code until tests pass. Then submit PR

[2019-02-07 00:08] kentaro0919 commented on #277
I am trying to make local environment but not working. Can you guide me how to set up?

[2019-02-07 17:39] josephmancuso commented on #277
You'll need to look at the `makefile`, have both `postgres` and `mysql` running to run all the tests. The makefile should add all the tables needed to run the tests

[2019-02-25 18:22] zardilior opened #285 "Is there any support for the like operator?"
Is the like = "%word%", mysql operator supported?
If it is, it is not in the docs

[2019-02-25 19:27] zardilior opened #286 "Is there any way to configure a unix socket in the db_config?"
I want to do what is here, in the example they use mysqlclient to setup the unix socket. Does orator supports this to pass to mysqlclient?
https://cloud.google.com/sql/docs/mysql/connect-app-engine

[2019-02-28 19:49] djoker opened #287 "retrieve tables from database"
I try to use Orator for build a tool to map databases agnosticly. Is there a way to show all the tables in a database from your connection?

[2019-03-03 00:45] tegarimansyah commented on #285
How about using `where_raw("something LIKE 'this%%' ")` ? Yes, I used % twice.

https://orator-orm.com/docs/0.8/query_builder.html#exists-statement

[2019-03-05 16:05] rfschubert commented on #285
Yes, you can use `.where("field", "like", "%word%")`
and also works with `not like`

[2019-03-05 17:11] #285 closed

[2019-03-05 23:43] zardilior commented on #285
"%word%" works without double %% ? And woudl there be an eloquent equivalent of just writing .like. Can I add an example to the docs with these answers?

[2019-03-05 23:55] josephmancuso commented on #285
there is not. You can make one yourself though. Something like:

[code]

[2019-03-06 17:43] zardilior opened #288 "to json dict of collections"
How to convert to json to a dict of collections?

[code]

[2019-03-06 17:45] josephmancuso commented on #288
collect has a `.serialize()` method:

[code]

[2019-03-06 17:49] zardilior commented on #288
Worked like a charm!! thanks a lot, could be worth mentioning it in docs for the json convert specific use case

[2019-03-06 17:51] josephmancuso commented on #288
which section are you talking about specifically? The list of collect methods are here: https://orator-orm.com/docs/0.9/collections.html#serialize

The specific code snippet above is here: https://orator-orm.com/docs/0.9/orm.html#converting-a-model-to-a-dictionary

[2019-03-06 17:51] #288 closed

[2019-03-06 17:56] zardilior commented on #288
Oh! Thanks you are right it indeed is there very specifically, thanks

[2019-03-06 17:56] josephmancuso commented on #288
:)

[2019-03-06 17:58] zardilior commented on #216
@tonyzhangcn  exactly where do we add the charset within the database params?

[2019-03-06 22:47] zardilior opened #290 "How to get certain columns without pivot from belongs to many relation?"
Example:
`Search.Tags().select("tags.id","tags.tag").get().serialize()`
returns even the pivot too

[2019-03-06 23:52] zardilior opened #291 "Error on migration drop foreign key"
on orator 0.9.8 the following does not work
[code]
before it referenced a string column on the other table.

[2019-03-07 05:43] zhanghaofei commented on #233
[code]

in `def _caused_by_lost_connection(self, e)`,e='(0,\\'\\'))' and not in message

[2019-03-07 06:43] abhsag24 opened #292 "Add a contributing.md?"
i absolutely love the project idea and implementation. Would love to contribute. But cant find an irc? or contribution standards? any pointers? also maybe a good first issue label might be a great idea?

[2019-03-07 13:52] psincraian commented on #292
I want to contribute too.

I have start by setting up the environment and is not so easy because you need the databases. To make things easier for everyone I will try to user docker and document all the process.

[2019-03-07 15:06] psincraian commented on #284
You only need to specify the table and the arguments: https://orator-orm.com/docs/0.9/query_builder.html#inserts

[code]

[2019-03-07 15:37] #284 closed

[2019-03-07 16:14] psincraian commented on #171
The setup.py file is required if we want to install the package from source https://pip.pypa.io/en/stable/reference/pip_install/#vcs-support

[2019-03-07 18:26] zardilior opened #295 "Migration problem with"
Migration failing in
`table.enum('columna',['0','1','2'])`
to
`table.enum('columna',['0','1','2','3']).change()`

[2019-03-07 19:33] zardilior opened #296 "Erro when using a scope after a relationship"
Error received

`TypeError: tags() missing 1 required positional argument: 'self'`

Scope in Model Tags
[code]

Use Case
`Profesores.tags().categoria().order_by('created_at').get()`

Relation
[code]

[2019-03-14 03:52] paulyim opened #299 "Sub-level more than level three or above"
`row = Role.with_('parent', 'children', 'children.children', 'children.children.children').get()`

It supports only two level. `children.children.children` won't load.

Model:
[code]

[2019-03-14 06:13] paulyim commented on #299
How do I automatically recursively load `@has_many` relationship properties

[2019-03-15 03:36] paulyim opened #300 "where_raw method not work"
`rows = Dictionary.where_raw('order_num > ? and ref_times = 0', [3]).get()`

raise QueryException:

`orator.exceptions.query.QueryException: not all arguments converted during string formatting (SQL: SELECT * FROM `sys_dictionary` WHERE order_num > ? AND ref_times = 0 ([3]))`

[2019-03-15 11:54] bencarter78 opened #301 "first_or_create to include a second parameter for values to create the object if the search fails"
Hello

First off, thanks for creating a great project here. Having come from Laravel, it certainly makes getting into python ORMs much more accessible.

I was looking at the first_or_create method and noticed (unlike Laravel) it doesn't have a second parameter for creating the object if the search for the record returns empty handed.

Before starting a pull request, do you think it be a good idea

[2019-03-19 20:14] zardilior commented on #163
I have this error constantly on one of my services where I create a model and then save the object

[2019-03-19 21:15] zardilior commented on #163
I have seen the contributions and here in the company we want to contribute to this project as we have big faith on it. this issue is really a deal breaker. We are even planning on having a junior pass most solvable issues to stack overflow for extended use. @sdispater how can we contribute?

[2019-03-21 18:58] sicksid commented on #159
Hey @sdispater it would be nice to have that way of programmatically running migrations in the documentation, i tried it because im doing a new project setup and i was configuring the test suites, it works very nicely

[2019-03-22 11:43] bencarter78 opened #302 "ORM only creates a model through save method"
Hello

I was hoping someone could explain to me why the `create` method isn't creating a record in the database but if I instantiate the model then `save` it then it will persist in the database.

when using the create method I get the following error.

`TypeError: __init__() got an unexpected keyword argument 'postcode'`

[code]

What am I doing wrong?

Thanks

[2019-04-04 21:51] Immortalin opened #303 "Automatic Migration Generator"
Django's ORM can generate migration automatically from newer version's of models by doing a stateful diff. This feature will greatly improve productivity.

[2019-04-15 10:26] FlashChaser commented on #302
Hey I was having the same issue but I found this in the documentation.

[2019-04-15 10:30] FlashChaser commented on #302
Hey I was having the same issue but found this in the documentation.

To use the example in the documentation.
[code]

You must make sure the model has the __fillable__ property defined for 'name'.

[code]

[2019-04-15 10:46] FlashChaser commented on #257
I have found a way to correct this [here](https://pyinstaller.narkive.com/WA8chJLY/problem-with-a-module-called-faker-generates-fake-data), although I had to tweak the code a bit to get it to work.

Create a folder called pyinstaller and create a file within called hook-faker.py.
Add the following code to pyinstaller/hook-faker.py:

`
from PyInstaller.utils.hooks import collect_submodules, collect

[2019-04-15 12:15] josephmancuso commented on #302
@bencarter78 yes @FlashChaser is correct. That should solve the issue. Orator protects against mass assignment by default so you'll need to explicitly define which columns should be mass assigned using the `__fillable__` property.

Assigning properties to the class and saving does not count as mass assigning and so it will create.

[2019-04-15 12:15] #302 closed

[2019-04-16 16:18] zardilior commented on #290
How to hide the pivot?

[2019-04-18 16:26] #239 closed

[2019-04-23 15:31] zardilior commented on #7
It mantains pivot columns but there is no way to remove them from the result

[2019-04-23 20:46] danfrost opened #304 ""no such table" when trying to seed (Mac, Orator 0.9, sqlite)"
I have a sqlite DB for local dev/testing. It definitely has the table "chat" in it but when I run a seed against it I get:

[code]

The seed code is:
[code]
A couple of other tables work, but a couple more don't.

I'm on v 0.9.x, python 3.6.4, Mac, sqlite 3.24.0

[2019-04-23 20:58] danfrost commented on #304
I'm trying to self debug but unable to execute ".tables" against sqlite:

[code]

(this is obvs purely debug code)

[2019-04-23 21:06] danfrost commented on #304
If I remove the foreign keys from the table schema (and recreate the DB) and remove use of the fields from the seed, it all works fine.

[2019-04-23 21:12] danfrost commented on #304
And... it was the foreign key definitions having the wrong table names in. So the table didn't exist, but not the one referenced in the error. Anything more you can spit out in the error message?

[2019-05-15 21:09] mrsollis opened #305 "limit on 'with_' as well as relations in global scope"
I apologize for posting here, it seems like there is generally limited knowledge of Orator on the interwebs, and this seems like the best place where there is concentrated knowledge.

I have run into 3 major issues leveraging Orator in our application.  The first two, noted in the title:

1. It appears that when using the `with_` method on a class, that it can only receive 3 relations, either that

[2019-05-17 04:01] luckjs2017 opened #306 "If a write error occurs"
If a write error occurs how to stop the program from throwing an exception other than to use the try..
For example, xxx.save()  But the error was reported and the program stopped

[2019-05-25 18:03] zardilior opened #308 "How to insert blob into binary column?"
Here is a failed attempt at stack overflow:
https://stackoverflow.com/questions/48076096/mysql-blob-field-using-python-orator

self.__db.insert('insert into `classifierinfo` '
                 '(`Name`, `InputFormat`, `NumberOfClasses`, '
                 '`Code`, `ClassifierFile`, `IDClassifierType`) '
                 'VALUES (?, ?, ?, ?, ?, ?)',
                 ['Классификатор изображений на б

[2019-05-25 18:11] zardilior commented on #305
@mrsollis  In order to limit the with_ you must specify in your model that the relationship is limited meaning

[code]

And in your code:
`    <Original Model Name>.with_(<Relation Name>)`
This will do the trick.

[2019-05-25 18:12] zardilior commented on #305
@mrsollis  I think I misinterpreted your issue, so we should talk more about it so I understand your point

[2019-05-25 18:16] zardilior commented on #292
Is this still on? Because I am also interested on contributing and we should definetely go for a contributing.md as well as instructions on mounting the dev environment.

[2019-05-25 18:17] zardilior commented on #300
It is because you are passing an array instead of the number, array notation only works for in and such. Try this way:
rows = Dictionary.where_raw('order_num > ? and ref_times = 0', 3).get()

[2019-05-25 18:19] josephmancuso commented on #292
@zardilior I got pretty much full access to this repo from @sdispater but he has been really busy with his other projects like Poetry and Pendulum.

I am also very busy with @masoniteframework https://github.com/MasoniteFramework/masonite and don't really have the time to learn and work the codebase.

If Orator has a dedicated maintainer it would go through the roof. If you are interested in takin

[2019-05-25 18:20] zardilior commented on #163
@nekh  @yvonneFtMore  the solution is in one of the PRs it is caused because the connection is closed and so it has no autocommit attribute. It is solved in PyMySql through this patch:
`https://github.com/sdispater/orator/pull/298`

[2019-05-25 18:21] zardilior commented on #180
@denislins
There is a bug in PyMySQL that causes the autocommit is set to None it is due to disconnection, the solution is in this PR:
https://github.com/sdispater/orator/pull/298

[2019-05-25 21:18] #300 closed

[2019-05-27 00:28] ar45 opened #310 "Issues with reconnecting to database"
Hi. When a database connection was reset, the database handle will remain in closed state and wont be refreshed until explicitly done.

That is OK, since we can set the reconnector callback using `db.set_reconnector`. But I was facing a few challenges in how to go about this.

Since code speaks better than words, here is what I tried

[code]

But that doesn't quite work. Because if the query was r

[2019-05-29 04:05] mrsollis commented on #305
hello @zardilior thank you for the reply.  for the 1st problem described it more of a problem like this:

[code]

Hope that makes sense.

Regarding problem #3, is there any documentation around best practices of how to structure a relational data model with ORATOR Models?  for example, in a multi-tenant environment, you would have say a `profile` model and an `tenant` model that would appear on al

[2019-05-31 15:41] rfschubert commented on #295
Yeah currently is a known bug... You will need update your database manually.
If you find how to update Orator and do a PR will be awesome.

[2019-06-07 23:42] zardilior commented on #292
@josephmancuso I would need a second guy to become a dedicated mantainer myself. So how about going into the Masonite slack group?

[2019-06-07 23:46] zardilior commented on #292
@josephmancuso If you give me access I will, gather a community around orator, fix all easy to fix bugs, learn the codebase and make docs to explain it, pass most issues to stack overflow to popularize the framework :D So how about that? Do I win the mantainer election?

[2019-06-07 23:49] zardilior commented on #305
About problem 3 can you give me any examples?

[2019-06-08 00:26] josephmancuso commented on #292
@zardilior yeah that'd be great. I don't have the rights to give people access but I'll message @sdispater to give you access

[2019-06-08 15:45] zardilior commented on #292
@josephmancuso thanks man!! Also how do I enter the slack you were mentioning?

[2019-06-08 16:13] josephmancuso commented on #292
http://slack.masoniteproject.com

[2019-06-08 17:02] vaibhavmule opened #312 "MariaDB support"

[2019-06-14 11:22] luoxiaohei commented on #122
Because the seeds directory is not in sys.path when imp.load_module performs dynamic loading.

I solved this problem by adding the following code to the `seeds/ __ init__.py` file.

[code]

[2019-06-14 13:55] zardilior commented on #292
@abhsag24 @psincraian you are still interested? Let's fork the project and make a slack!! join the masonite too!

[2019-06-18 10:28] abhsag24 commented on #292
@zardilior yep. I'm also working on an annotate library which adds model description comments on each model file kinda like https://github.com/ctran/annotate_models . I'd be interested in taking this forward as well!

[2019-06-18 12:11] josephmancuso commented on #292
@abhsag24 this might help https://github.com/MasoniteFramework/core/blob/2.2/masonite/commands/ModelDocstringCommand.py

[2019-06-25 11:28] abhsag24 commented on #292
nice! can we use it independently outside of masonite?

[2019-06-25 11:33] josephmancuso commented on #292
umm not exactly. You could use Cleo and register it with the Cleo command class manually and it should work but might want to take it and make it more adaptable to your application. Unless that works for you

[2019-07-07 12:38] oscarmorrison commented on #243
+1 Any update on this?

I have migration working, as described here: https://orator-orm.com/docs/0.9/migrations.html

But can't get any ORM to work with the `orator.py` file there

[2019-07-07 13:20] oscarmorrison opened #314 "Setting up .env migration and ORM"
Related to: #243

Maybe I am missing something here, but normally with other frameworks I can just have a `.env` file that I can read my db creds from like so:

[code]

Then I can use different creds in different environments (local, staging, prod etc).

I want to be able to use these for both migrations and models. I cannot work out how to do it. If I setup a `orator.py` and read them in like so:

[2019-07-12 07:26] kentaro0919 commented on #314
Hi @ oscarmorrison
In https://github.com/MasoniteFramework use .env file as you with. You may have a look to the code.

[2019-07-12 07:42] oscarmorrison commented on #314
Hi @kentaro0919 my issue isn't that I don't know how to use an env file, its that if you use env in collaboration with the `orator.yml` for migrations you get the issue described here #243

[2019-07-14 09:02] gamelife1314 opened #315 "how to check if the connection is closed?"
how to check if the connection is closed?